{% extends 'base.html.twig' %}

{% block body %}
    <h1>Objectifs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Valeur</th>
                <th>Imagename</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for objectif in objectifs %}
            <tr>
                <td><a href="{{ path('objectif_show', { 'id': objectif.id }) }}">{{ objectif.id }}</a></td>
                <td>{{ objectif.valeur }}</td>
                <td>{{ objectif.imageName }}</td>
                <td>{% if objectif.updatedAt %}{{ objectif.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('objectif_show', { 'id': objectif.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('objectif_edit', { 'id': objectif.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('objectif_new') }}">Create a new objectif</a>
        </li>
    </ul>
{% endblock %}
