{% extends 'base.html.twig' %}

{% block body %}
    <h1>Objectif</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ objectif.id }}</td>
            </tr>
            <tr>
                <th>Valeur</th>
                <td>{{ objectif.valeur }}</td>
            </tr>
            <tr>
                <th>Imagename</th>
                <td>{{ objectif.imageName }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if objectif.updatedAt %}{{ objectif.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('objectif_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('objectif_edit', { 'id': objectif.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
