{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/screen.css') }}" type="text/css">
{% endblock %}
{% block body %}
    <div class="video-back">
        <video loop="true" autoplay="true">
            <source src="{{ asset('assets/images/back.mp4') }}" type="video/mp4">
        </video>
    </div>
    <div class="logo"></div>
    {% for message in app.flashes('notice') %}
        <span class="alert" style="position:absolute;width:100vw;background-color:darkred;text-align:center;padding:15px 0;">
            {{ message }}
            <i class="fas fa-times" style="cursor:pointer;position:absolute;right:2px;top:2px;" onclick="hideAlert()"></i>
        </span>
    {% endfor %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="admin"><a href="{{ path('admin') }}" style="margin-left: 85px">Administration</a></div>
    {% endif %}

    <div id="dropform" class="edit">
        <div class="glitch border-top"></div>
        <div class="glitch border-right"></div>
        <div class="glitch border-bottom"></div>
        <div class="glitch border-left"></div>

        <div class="container">
            <div class="back-head"></div>
                {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit clear edit-form' } }) }}
                <div class="sub-container">
                    <label for="fos_user_profile_form_imageFile_file" style="cursor:pointer;">
                        <div class="profil-img tooltip-mouse">
                            <div class="profil-img-container">
                                {% if user.imageName is empty %}
                                    <img src="{{ gravatar(user.email) }}" alt="" id="profil-img"/>
                                {% else %}
                                    <img src="{{ asset('uploads/images/profile/' ~ user.imageName) }}" alt="image de {{ user.username }}" id="profil-img">
                                {% endif %}
                                <div class="edit-img"><i class="fas fa-pen-square"></i></div>
                            </div>
                            <span class="tooltip-left">le fichier ne doit pas dépasser 1Mo</span>
                        </div>
                    </label>
                    <h1>{{ user.username }}</h1>
                    <br/>
                    {{ form_widget(form.imageFile.file, {'attr': {'style':'display:none;', 'onchange':'readURL(this)'} }) }}
                    {{ form_errors(form.imageFile.file) }}
                    {% if form.imageFile.delete is defined %}
                        {{ form_widget(form.imageFile.delete, {'attr': {'style':'display:none;'} }) }}
                        {{ form_errors(form.imageFile.delete) }}
                    {% endif %}
                    <span class="email">
                        {{ form_widget(form.email, {'attr': {'placeholder': 'changer mon email', 'value': user.email, 'class': 'clear', 'required': 'required'}}) }}
                        {{ form_errors(form.email) }}
                    </span>
                    <br/><br/>
                    {{ form_rest(form)}}
                    <a href="#" id="open-pass-form">Changer mon mot de passe</a>
                    <div class="foot">
                        <button type="submit">Enregistrer les modifications</button>
                        <a href="{{ path('fos_user_profile_show') }}">
                            Annuler&nbsp;&nbsp;<i class="fas fa-undo" style="position: relative;top:1px;"></i>
                        </a>
                    </div>
                </div>
            {{ form_end(form) }}
            <div class="drop-password" id="vuejs">
                {{ render(controller('FOSUserBundle:ChangePassword:changePassword')) }}
            </div>
            <div class="back-foot"></div>
        </div>
    </div>

    {% include 'default/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        let mavue = new Vue({
            el: "#vuejs",
            data: {
                mdp1: "",
                mdp2: "",
            },
            computed:{
                mdpsame : function () {
                    return this.mdp1==this.mdp2 && this.mdp2
                }
            }
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            const neon = document.querySelector('.glitch');
            const neon5 = document.querySelector('#dropform');

            function setProperty(duration) {
                neon.style.setProperty('--animation-time', duration + 's');
                neon5.style.setProperty('--animation-time', duration + 's');
            }

            function changeAnimationTime() {
                const animationDuration = Math.random();
                setProperty(animationDuration);
            }

            var intervalFlicker = setInterval(changeAnimationTime, 500)

            // CHECKED
            if($('#check_animation').prop('checked')){
                intervalFlicker = setInterval(changeAnimationTime, 500);
                $("[class*='border-']").addClass('glitch');
                $(".edit").attr("id","dropform");
                $("video").css('display','inline-block');
                setTimeout(function(){$("video").css('opacity','1');}, 100);
            }else{
                clearInterval(intervalFlicker);
                $("[class*='border-']").removeClass('glitch');
                $(".edit").removeAttr("id");
                $("video").css('opacity','0');
                setTimeout(function(){$("video").css('display','none');}, 300);
            }

            $('#check_animation').on('click',function(){
                if($(this).prop('checked')){
                    console.log('checked');
                    intervalFlicker = setInterval(changeAnimationTime, 500);
                    $("[class*='border-']").addClass('glitch');
                    $(".edit").attr("id","dropform");
                    $("video").css('display','inline-block');
                    setTimeout(function(){$("video").css('opacity','1');}, 100);
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('cookie_animation', { 'checked':1 }) }}'
                    })
                }else{
                    console.log('unckecked');
                    clearInterval(intervalFlicker);
                    $("[class*='border-']").removeClass('glitch');
                    $(".edit").removeAttr("id");
                    $("video").css('opacity','0');
                    setTimeout(function(){$("video").css('display','none');}, 300);
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('cookie_animation', { 'checked':0 }) }}'
                    })
                }
            })
        })
    </script>
    <script type="text/javascript">
        $("#open-pass-form").click(function() {
            $(".drop-password").addClass("drop-password-dropped");
        });
        $("#close-pass-form").click(function() {
            $(".drop-password").removeClass("drop-password-dropped");
        });
    </script>
    <script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#profil-img').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    <script type="text/javascript">
        function hideAlert() {
            $('.alert').fadeOut()
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            var img = document.getElementById('profil-img')
            var width = img.clientWidth
            var height = img.clientHeight
            console.log(width, height)
            if(height > width || height === width){
                $('#profil-img').css('width','101%')
            }else if(height < width){
                $('#profil-img').css('height','101%')
            }
        })
    </script>
    <script src="{{ asset('assets/js/tooltip.js') }}"></script>
{% endblock %}