{% extends 'base.html.twig' %}

{% block body %}
    <div align="center">
        <h1>HISTORIQUE</h1>
        <table border="1px" style="width:50%;border-collapse:collapse">
            <tr>
                <th>#</th>
                <th>Adversaire</th>
                <th>Manches</th>
            </tr>
            {% for partie in parties %}
                <tr>
                    <td><a href="{{ path('partie_show', {'id': partie.id}) }}">{{ loop.index }}</a></td>
                    {% if app.user.id == partie.joueur1.id %}
                        <td><a href="{{ path('fos_user_profile_other', {'username':partie.joueur2.username}) }}">{{ partie.joueur2.username }}</a></td>
                    {% elseif app.user.id == partie.joueur2.id %}
                        <td><a href="{{ path('fos_user_profile_other', {'username':partie.joueur1.username}) }}">{{ partie.joueur1.username }}</a></td>
                    {% endif %}
                    <td>{{ partie.manche }}</td>
                </tr>
            {% else %}
                <p>Vous n'avez pas de partie en cours</p>
                <a href="{{ path('partie_new') }}">Y remédier</a>
            {% endfor %}
        </table>
    </div>
{% endblock %}