{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/screen.css') }}" type="text/css">
{% endblock %}

{% block body %}
    <div class="logo"></div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="admin"><a href="" style="margin-left: 85px">Administration</a></div>
    {% endif %}

    <div id="dropform2" class="historique">
        <div class="glitch border-top2"></div>
        <div class="glitch border-right2"></div>
        <div class="glitch border-bottom2"></div>
        <div class="glitch border-left2"></div>
        <div class="container">
            <div class="back-head"></div>
            <div class="sub-container">
                <h1>Mes parties&nbsp;</h1>
                <h1>
                    <p class="goright">en cours&nbsp;<i class="fas fa-chevron-right"></i></p>
                    <p class="goleft"><i class="fas fa-chevron-left"></i>&nbsp;terminées</p>
                </h1>
            </div>
            <div class="container-table">
                <div class="container-table-scroll" id="table-hist-left">
                    <table>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Adversaire</th>
                            <th>Résultat</th>
                            <th>Manches</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for partie in partiesHistorique %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            {% if app.user.id == partie.joueur1.id %}
                                <td><a href="{{ path('fos_user_profile_other', {'username':partie.joueur2.username}) }}">{{ partie.joueur2.username }}</a></td>
                                {% if partie.winner == 1 %}
                                    <td>Victoire</td>
                                {% elseif partie.winner == 2 %}
                                    <td>Défaite</td>
                                {% else %}
                                    <td>Inconnu</td>
                                {% endif %}
                            {% elseif app.user.id == partie.joueur2.id %}
                                <td><a href="{{ path('fos_user_profile_other', {'username':partie.joueur1.username}) }}">{{ partie.joueur1.username }}</a></td>
                                {% if partie.winner == 2 %}
                                    <td>Victoire</td>
                                {% elseif partie.winner == 1 %}
                                    <td>Défaite</td>
                                {% else %}
                                    <td>Inconnu</td>
                                {% endif %}
                            {% endif %}
                            <td>{{ partie.manche }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="container-table-scroll" id="table-hist-right">
                    <table>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Adversaire</th>
                            <th>Manches</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for partie in partiesEnCours %}
                            <tr>
                                <td><a href="{{ path('partie_show', {'id': partie.id}) }}">{{ loop.index }}</a></td>
                                {% if app.user.id == partie.joueur1.id %}
                                    <td><a href="{{ path('fos_user_profile_other', {'username':partie.joueur2.username}) }}">{{ partie.joueur2.username }}</a></td>
                                {% elseif app.user.id == partie.joueur2.id %}
                                    <td><a href="{{ path('fos_user_profile_other', {'username':partie.joueur1.username}) }}">{{ partie.joueur1.username }}</a></td>
                                {% endif %}
                                <td>{{ partie.manche }}</td>
                            </tr>
                        {% else %}
                            <p>Vous n'avez pas de partie en cours</p>
                            <a href="{{ path('partie_new') }}">Y remédier</a>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% include 'default/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- BUTTON GOLEFT/GORIGHT -->
    <script type="text/javascript">
        $(".goright").click(function () {
            $("#table-hist-left").addClass("toleft")
            $("#table-hist-right").addClass("toleft")
            $(".goright").addClass("toleft")
            $(".goleft").addClass("toleft")
        });
        $(".goleft").click(function () {
            $("#table-hist-right").removeClass("toleft")
            $("#table-hist-left").removeClass("toleft")
            $(".goright").removeClass("toleft")
            $(".goleft").removeClass("toleft")
        });
    </script>
    <!-- FLICKER EFFECT -->
    <script type="text/javascript">
        const neon = document.querySelector('.glitch');
        const neon6 = document.querySelector('#dropform2');
        function setProperty(duration) {
            neon.style.setProperty('--animation-time', duration +'s');
            neon6.style.setProperty('--animation-time', duration +'s');
        }
        function changeAnimationTime() {
            const animationDuration = Math.random();
            setProperty(animationDuration);
        }
        setInterval(changeAnimationTime, 500);
    </script>
{% endblock %}