{% extends 'base.html.twig' %}
{% block body %}
    <nav>
        <ul>
            <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
            <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
            <li><a href="{{ path('fos_user_profile_show') }}">Compte</a></li>
            <li><a href="{{ path('admin') }}">Espace admin</a></li>
            <li><a href="{{ path('partie_new') }}">Jouer</a></li>
        </ul>
    </nav>
{% endblock %}
