{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/screen.css') }}" type="text/css">
{% endblock %}
{% block body %}
    <div class="logo"></div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="admin"><a href="{{ path('admin') }}">Administration</a></div>
    {% endif %}
    <div class="backto-profil">
        <a href="{{ path('fos_user_profile_show') }}"><i class="fas fa-chevron-left"></i>&nbsp; Profil</a>
    </div>
    <div id="dropform2" class="classement">
        <div class="glitch border-top2"></div>
        <div class="glitch border-right2"></div>
        <div class="glitch border-bottom2"></div>
        <div class="glitch border-left2"></div>
        <div class="container">
            <div class="back-head"></div>
            <div class="sub-container">
                <h1>Classement</h1>
            </div>
            <div class="container-table">
                <div class="container-table-scroll">
                    <table>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Pseudo</th>
                            <th>Grade</th>
                            <th>Elo</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td><a class="ranking-profile" href="{{ path('fos_user_profile_other', {'username': user.username}) }}">{{ user.username }}</a></td>
                                <td>{{ user.rank }}</td>
                                <td>{{ user.elo }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% include 'default/footer_tab.html.twig' %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        const neon = document.querySelector('.glitch');
        const neon6 = document.querySelector('#dropform2');
        function setProperty(duration) {
            neon.style.setProperty('--animation-time', duration +'s');
            neon6.style.setProperty('--animation-time', duration +'s');
        }
        function changeAnimationTime() {
            const animationDuration = Math.random();
            setProperty(animationDuration);
        }
        setInterval(changeAnimationTime, 500);
    </script>
{% endblock %}