{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/screen.css') }}" type="text/css">
{% endblock %}
{% block body %}
    <div class="video-back">
        <video loop="true" autoplay="true">
            <source src="{{ asset('assets/images/back.mp4') }}" type="video/mp4">
        </video>
    </div>
    <div class="logo"></div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="admin">
            <a href="{{ path('admin') }}" style="margin-left: 85px">Administration</a>
            <a href="{{ path('api_default_index') }}">API</a>
        </div>
    {% endif %}
    <div id="dropform" class="edit">
        <div class="glitch border-top"></div>
        <div class="glitch border-right"></div>
        <div class="glitch border-bottom"></div>
        <div class="glitch border-left"></div>

        <div class="container">
            <div class="back-head"></div>
                <div class="sub-container">
                    <h3>Inscription</h3>
                    <br/>
                    {% block fos_user_content %}
                        <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
                    {% endblock fos_user_content %}
                </div>
            <div class="back-foot"></div>
        </div>
    </div>

    {% include 'default/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            const neon = document.querySelector('.glitch');
            const neon5 = document.querySelector('#dropform');

            function setProperty(duration) {
                neon.style.setProperty('--animation-time', duration + 's');
                neon5.style.setProperty('--animation-time', duration + 's');
            }

            function changeAnimationTime() {
                const animationDuration = Math.random();
                setProperty(animationDuration);
            }

            var intervalFlicker = setInterval(changeAnimationTime, 500)

            // CHECKED
            if($('#check_animation').prop('checked')){
                intervalFlicker = setInterval(changeAnimationTime, 500);
                $("[class*='border-']").addClass('glitch');
                $(".edit").attr("id","dropform");
                $("video").css('display','inline-block');
                setTimeout(function(){$("video").css('opacity','1');}, 100);
            }else{
                clearInterval(intervalFlicker);
                $("[class*='border-']").removeClass('glitch');
                $(".edit").removeAttr("id");
                $("video").css('opacity','0');
                setTimeout(function(){$("video").css('display','none');}, 300);
            }

            $('#check_animation').on('click',function(){
                if($(this).prop('checked')){
                    console.log('checked');
                    intervalFlicker = setInterval(changeAnimationTime, 500);
                    $("[class*='border-']").addClass('glitch');
                    $(".edit").attr("id","dropform");
                    $("video").css('display','inline-block');
                    setTimeout(function(){$("video").css('opacity','1');}, 100);
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('cookie_animation', { 'checked':1 }) }}'
                    })
                }else{
                    console.log('unckecked');
                    clearInterval(intervalFlicker);
                    $("[class*='border-']").removeClass('glitch');
                    $(".edit").removeAttr("id");
                    $("video").css('opacity','0');
                    setTimeout(function(){$("video").css('display','none');}, 300);
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('cookie_animation', { 'checked':0 }) }}'
                    })
                }
            })
        })
    </script>
    <script type="text/javascript">
        $("#open-pass-form").click(function() {
            $(".drop-password").addClass("drop-password-dropped");
        });
        $("#close-pass-form").click(function() {
            $(".drop-password").removeClass("drop-password-dropped");
        });
    </script>
    <script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#profil-img').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
{% endblock %}