<div align="center">
{% if joueur == 1 %}
{# affichage de la main de j1 #}
    {% for carte in plateau.mainJ1 %}
        <div style="display:inline-block;background:cornflowerblue;width:100px;height:150px;">
            obj:{{ cartes[carte-1].objectif }} | val:{{ cartes[carte-1].valeur }}
            <input form="action_form" type="checkbox" name="cartes[]" value="{{ cartes[carte-1].id }}">
        </div>
    {% endfor %}
<br/><br/>
{# carte secret #}
    {%  for carte in plateau.actions.j1.0.cartes %}
        <div style="margin-top:25px;display:inline-block;background:cornflowerblue;width:50px;height:75px;">obj:{{ cartes[carte-1].objectif }} | val:{{ cartes[carte-1].valeur }}</div>
    {% else %}
        {# si pas de carte secret #}
    {% endfor %}

    {# cartes compromis #}
    {% for carte in plateau.actions.j1.1.cartes %}
        <div style="margin-top:25px;display:inline-block;background:cornflowerblue;width:50px;height:75px;">obj:{{ cartes[carte-1].objectif }} | val:{{ cartes[carte-1].valeur }}</div>
    {% else %}
        {# si pas de cartes compromis #}
    {% endfor %}
{% elseif joueur == 2 %}
    {# affichage de la main de j2 #}
    {% for carte in plateau.mainJ2 %}
        <div style="display:inline-block;background:cornflowerblue;width:100px;height:150px;">
            obj:{{ cartes[carte-1].objectif }} | val:{{ cartes[carte-1].valeur }}
            <input form="action_form" type="checkbox" name="cartes[]" value="{{ cartes[carte-1].id }}">
        </div>
    {% endfor %}
    <br/><br/>
    {# carte secret #}
    {%  for carte in plateau.actions.j2.0.cartes %}
        <div style="margin-top:25px;display:inline-block;background:cornflowerblue;width:50px;height:75px;">obj:{{ cartes[carte-1].objectif }} | val:{{ cartes[carte-1].valeur }}</div>
    {% else %}
        {# si pas de carte secret #}
    {% endfor %}

    {# cartes compromis #}
    {% for carte in plateau.actions.j2.1.cartes %}
        <div style="margin-top:25px;display:inline-block;background:cornflowerblue;width:50px;height:75px;">obj:{{ cartes[carte-1].objectif }} | val:{{ cartes[carte-1].valeur }}</div>
    {% else %}
        {# si pas de cartes compromis #}
    {% endfor %}
{% endif %}
</div>