{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/screen.css') }}" type="text/css">
{% endblock %}

{% block body %}
    <div class="back-end">
        <div class="fin-partie">
            <div class="glitch border-top2"></div>
            <div class="glitch border-right2"></div>
            <div class="glitch border-bottom2"></div>
            <div class="glitch border-left2"></div>

            <div class="container">
                <div class="back-head"></div>
                <div class="sub-container">
                    <h1>Partie terminée</h1>
                    <br>
                    <span class="email">
                            {% if partie.winner == 1 %}
                                <h4 style="text-align:center;">Le joueur {{ partie.joueur1.username }} a gagné</h4>
                            {% else %}
                                <h4 style="text-align:center;">Le joueur {{ partie.joueur2.username }} a gagné</h4>
                            {% endif %}
                    </span>

                    <div class="foot">
                        <a href="{{ path('fos_user_profile_show') }}">Retour</a>
                        {% if partie.winner == 1 %}
                            <a href="{{ path('fos_user_profile_other', {'username': partie.joueur1.username}) }}">Revanche</a>
                        {% else %}
                            <a href="{{ path('fos_user_profile_other', {'username': partie.joueur2.username}) }}">Revanche</a>
                        {% endif %}
                    </div>
                </div>
                <div class="back-foot"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}