{% extends 'base.html.twig' %}

{% block body %}
    <h1>Parties list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Joueur 1</th>
                <th>Joueur 2</th>
                <th>Terminée</th>
                <th>Created at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partie in parties %}
            <tr>
                <td><a href="{{ path('partie_show', { 'id': partie.id }) }}">{{ partie.id }}</a></td>
                <td>{{ partie.joueur1 }}</td>
                <td>{{ partie.joueur2 }}</td>
                <td>{% if partie.ended %}Yes{% else %}No{% endif %}</td>
                <td>{{ partie.createdAt|date('d/m/Y H:i') }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('partie_show', { 'id': partie.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('partie_edit', { 'id': partie.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('partie_new') }}">Create a new partie</a>
        </li>
    </ul>
{% endblock %}
