{% extends 'base.html.twig' %}
{# Si utilisateur courrant == J2, inverser l'affichage #}
{# Bouger la partie du joueur courant dans show.html.twig #}
{% block body %}
<h1>Partie</h1>
<div align="center" id="plateau">
    {% if flash is defined %}
    <div class="alert alert-danger">
        <p>{{ flash }}</p>
    </div>
    {% endif %}
    {% if plateau.actions.j1[2].cartes is not empty %}
        <div style="border: 2px solid #333">
            {% for carte in plateau.actions.j1[2].cartes %}
                <div style="display:inline-block;background:lightgreen;width:50px;height:75px;">{{ cartes[carte-1].id }}</div>
                <form id="cadeau_choix" action="{{ path('action_handler', {'partie': partie.id}) }}" method="post">
                    <input type="hidden" name="carte" value="{{ cartes[carte-1].id }}">
                    <input type="hidden" name="partie" value="{{ partie.id }}">
                    <input type="hidden" name="joueur" value="j1">
                    <input type="hidden" name="action" value="cadeau_choix">
                    <button class="btn btn-info" type="submit">Choisir</button>
                </form>
            {% endfor %}
        </div>
    {% elseif plateau.actions.j1[3].cartes is not empty %}
        <div style="border: 2px solid #333">
            {% for carte in plateau.actions.j1[3].cartes %}
                <div style="display:inline-block;background:lightgreen;width:50px;height:75px;">{{ cartes[carte-1].id }}</div>
                {% if loop.index0 %2 == 0 %}
                    <form id="concurrence_choix" action="{{ path('action_handler', {'partie': partie.id}) }}" method="post">
                        <input type="hidden" name="cartes[]" value="{{ cartes[carte-1].id }}">
                        <input type="hidden" name="partie" value="{{ partie.id }}">
                        <input type="hidden" name="joueur" value="j1">
                        <input type="hidden" name="action" value="concurrence_choix">
                {% else %}
                        <input type="hidden" name="cartes[]" value="{{ cartes[carte-1].id }}">
                        <button class="btn btn-info" type="submit">Choisir</button>
                    </form>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% if plateau.actions.j1[3].choisies is defined and plateau.actions.j1[3].choisies is not empty %}
        <div style="border: 2px solid #333">
            {% for carte in plateau.actions.j1[3].choisies.j1 %}
                <div style="display:inline-block;background:lightgreen;width:50px;height:75px;">{{ cartes[carte-1].id }}</div>
                <form id="concurrence_choix_2" action="{{ path('action_handler', {'partie': partie.id}) }}" method="post">
                    <input type="hidden" name="carte" value="{{ cartes[carte-1].id }}">
                    <input type="hidden" name="partie" value="{{ partie.id }}">
                    <input type="hidden" name="joueur" value="j1">
                    <input type="hidden" name="action" value="concurrence_choix_2">
                    <button class="btn btn-info" type="submit">Choisir</button>
                </form>
            {% endfor %}
        </div>
    {% endif %}
    {%  for carte in plateau.actions.j2.0.cartes %}
        <div style="display:inline-block;background:lightgreen;width:50px;height:75px;">{{ cartes[carte-1].id }}</div>
    {% else %}
        <div>Pas de carte secret.</div>
    {% endfor %}
    {% for carte in plateau.mainJ2 %}
        <div style="display:inline-block;background:lightgreen;width:100px;height:150px;">{{ cartes[carte-1].id }}</div>
    {% endfor %}
    <ul>
        {% for action in plateau.actions.j2 %}
            {% if action.jouee %}
                <li style="background:darkred; padding: 5px 30px">{{ action.nom }}</li>
            {% else %}
                <li style="background:lightgreen; padding: 5px 30px">{{ action.nom }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <br/>
    {% for objectif in objectifs %}
        <div style="display:inline-block;background:indianred;width:150px;height:225px;">{{ objectif.id }}
            {% if plateau.actions.j1[2].cartes is not empty %}
                <input type="radio" value="{{ objectif.id }}" name="objectif" form="cadeau_choix" required>
            {% elseif plateau.actions.j1[3].choisies is defined and plateau.actions.j1[3].choisies is not empty %}
                <input type="radio" value="{{ objectif.id }}" name="objectif" form="concurrence_choix_2" required>
            {% endif %}
            {% if objectif.id in plateau.jetons.j2 %}
                <div style="position: absolute">Jeton J2</div>
            {% elseif objectif.id in plateau.jetons.neutre %}
                <div style="position: absolute">Jeton neutre</div>
            {% elseif objectif.id in plateau.jetons.j1 %}
                <div style="position: absolute">Jeton J1</div>
            {% endif %}
        </div>
    {% endfor %}
    <div style="margin-left: 50px;display:inline-block;">
        <div style="background:orange;width:75px;height:112.5px;">{{ cartes[plateau.pioche.0 - 1].id }}</div>
    </div>
    <br/>
    <br/>
    <form action="{{ path('action_handler') }}" method="post">
        {% for action in plateau.actions.j1 %}
            {% if action.jouee %}
                <li style="background:darkred;padding:5px 30px">{{ action.nom}}</li>
            {% else %}
                    <input type="submit" name="action" value="{{ action.nom }}" style="background:cornflowerblue;padding:5px 30px; margin: auto 2px;">
            {% endif %}
        {% endfor %}
        <br/><br/>
    {% for carte in plateau.mainJ1 %}
        <div style="display:inline-block;background:cornflowerblue;width:100px;height:150px;">
            {{ cartes[carte-1].id }}
            <input type="checkbox" name="cartes[]" value="{{ cartes[carte-1].id }}">
        </div>

    {% endfor %}
        <input type="hidden" name="partie" value="{{ partie.id }}">
        <input type="hidden" name="joueur" value="j1">
    </form>
    <br/>
    secret:
    {%  for carte in plateau.actions.j1.0.cartes %}
        <div style="margin-top:25px;display:inline-block;background:cornflowerblue;width:50px;height:75px;">{{ cartes[carte-1].id }}</div>
    {% else %}
        <div>Pas de carte secret.</div>
    {% endfor %}
    compromis:
    {% for carte in plateau.actions.j1.1.cartes %}
        <div style="margin-top:25px;display:inline-block;background:cornflowerblue;width:50px;height:75px;">{{ cartes[carte-1].id }}</div>
    {% else %}
        <div>Pas de carte compromis.</div>
    {% endfor %}
    <br/><br/>
    <form action="{{ path('partie_changerTour', {'partie': partie.id}) }}" method="POST">
        {% if plateau.tourJoue.j1 == true %}
            <button class="btn btn-info" type="submit">Travail terminé !</button>
        {% else %}
            <button class="btn btn-info" disabled>Travail terminé</button>
        {% endif %}
    </form>
</div>

{{ dump(partie) }}
{{ dump(plateau) }}
{{ dump(cartes) }}
{{ dump(objectifs) }}
{{ dump(joueur) }}
{% endblock %}