<style>
    #plateau li {
        display: inline-block;
        list-style-type: none;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
</style>
{# Si utilisateur courrant == J2, inverser l'affichage #}
<h1>Partie</h1>
<div align="center" id="plateau">
    {%  for carte in plateau.actions.j2.0.cartes %}
        <div style="display:inline-block;background:lightgreen;width:50px;height:75px;">{{ cartes[carte-1].id }}</div>
    {% else %}
        <div>Pas de carte secret.</div>
    {% endfor %}
    {% for carte in plateau.mainJ2 %}
        <div style="display:inline-block;background:lightgreen;width:100px;height:150px;">{{ cartes[carte-1].id }}</div>
    {% endfor %}
    <ul>
        {% for action in plateau.actions.j2 %}
            {% if action.jouee %}
                <li style="background:darkred; padding: 5px 30px">{{ action.nom }}</li>
            {% else %}
                <li style="background:lightgreen; padding: 5px 30px">{{ action.nom }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <br/>
    {% for objectif in objectifs %}
        <div style="display:inline-block;background:indianred;width:150px;height:225px;">{{ objectif.id }}
            {% if objectif.id in plateau.jetons.j2 %}
                <div style="position: absolute">Jeton J2</div>
            {% elseif objectif.id in plateau.jetons.neutre %}
                <div style="position: absolute">Jeton neutre</div>
            {% elseif objectif.id in plateau.jetons.j1 %}
                <div style="position: absolute">Jeton J1</div>
            {% endif %}
        </div>
    {% endfor %}
    <div style="margin-left: 50px;display:inline-block;">
        <div style="background:orange;width:75px;height:112.5px;">{{ cartes[plateau.pioche.0 - 1].id }}</div>
    </div>
    <br/>
    <form action="{{ path('action_handler') }}" method="post">
        {% for action in plateau.actions.j1 %}
            {% if action.jouee %}
                <li style="background:darkred; padding: 5px 30px">{{ action.nom}}</li>
            {% else %}
                    <input type="radio" name="action" value="{{ action.nom }}" style="background:cornflowerblue;padding:5px 30px; margin: auto 2px;"><li>{{ action.nom }}</li>
            {% endif %}
        {% endfor %}
    {% for carte in plateau.mainJ1 %}
        <div style="display:inline-block;background:cornflowerblue;width:100px;height:150px;">{{ cartes[carte-1].id }}</div>
        <input type="checkbox" name="cartes[]" value="{{ cartes[carte-1].id }}">

    {% endfor %}
        <input type="hidden" name="partie" value="{{ partie.id }}">
        <input type="hidden" name="joueur" value="j1">
        <button type="submit" class="btn btn-info">Jouer action</button>
    </form>
    <br/>
    {%  for carte in plateau.actions.j1.0.cartes %}
        <div style="margin-top:25px;display:inline-block;background:cornflowerblue;width:50px;height:75px;">{{ cartes[carte-1].id }}</div>
    {% else %}
        <div>Pas de carte secret.</div>
    {% endfor %}
    <form action="{{ path('partie_changerTour', {'partie': partie.id}) }}" method="POST">
        {% if plateau.tourJoue.j1 == true %}
            <button class="btn btn-info" type="submit">Travail terminé !</button>
        {% else %}
            <button class="btn btn-info" disabled>Travail terminé</button>
        {% endif %}
    </form>
</div>

{{ dump(partie) }}
{{ dump(plateau) }}
{{ dump(cartes) }}
{{ dump(objectifs) }}
{{ dump(joueur) }}