<link rel="stylesheet" href="{{ asset('assets/css/plateau.css') }}">

{% for message in app.flashes('notice') %}
    {{ message }}
{% endfor %}

{% if joueur == 1 %}
    <aside>
        <div class="glitch border-right2"></div>

        <div class="section-jr-top">
            <h2>{{ partie.joueur2.username }}</h2>
            <div class="profil-img">
                <div class="profil-img-container">
                    {% if partie.joueur2.imageName is empty %}
                        <img src="{{ gravatar(partie.joueur2.email) }}" id="profil-img" class="plateau-img" alt=""/>
                    {% else %}
                        <img src="{{ asset('uploads/images/profile/' ~ partie.joueur2.imageName) }}" id="profil-img" class="plateau-img" alt="image de {{ partie.joueur2.username }}">
                    {% endif %}
                </div>
            </div>
            <ul class="actions">
                {% for action in plateau.actions.j2 %}
                    {% if action.jouee %}
                        <li class="action{{ action.id }} disabled-action"><img src="{{ asset('assets/images/action_'~action.id~'.svg') }}" alt=""></li>
                    {% else %}
                        <li class="action{{ action.id }}"><img src="{{ asset('assets/images/action_'~action.id~'.svg') }}" alt=""></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="section-jr-bot">
            <h2>{{ partie.joueur1.username }}</h2>
            <div class="profil-img">
                <div class="profil-img-container">
                    {% if partie.joueur1.imageName is empty %}
                        <img src="{{ gravatar(partie.joueur1.email) }}" id="profil-img" class="plateau-img" alt=""/>
                    {% else %}
                        <img src="{{ asset('uploads/images/profile/' ~ partie.joueur1.imageName) }}" id="profil-img" class="plateau-img" alt="image de {{ partie.joueur1.username }}">
                    {% endif %}
                </div>
            </div>
            <ul class="actions">
                {% for action in plateau.actions.j1 %}
                    {% if action.jouee %}
                        <li class="action{{ action.id }} disabled-action" id="action{{ action.id }}"><img src="{{ asset('assets/images/action_'~action.id~'.svg') }}" alt=""></li>
                    {% else %}
                        <li class="action{{ action.id }}" id="action{{ action.id }}"><img src="{{ asset('assets/images/action_'~action.id~'.svg') }}" alt=""></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </aside>
    <section class="adversaire">
        <div class="deck-advs">
            {# affichage de la main de j2 #}
            {% for carte in plateau.mainJ2 %}
                {# Afficher dos de carte #}
                <div class="carte-advs"></div>
            {% endfor %}
        </div>
        {% if plateau.actions.j2.2.cartes is not empty and plateau.actions.j2.2.cartes|length == 3 %}
        {# si j2 a joué "cadeau" #}
        <div class="echange-advs">
            {% for carte in plateau.actions.j2.2.cartes %}
            <form class="cadeau_choix" method="post" action="{{ path('action_handler', {'partie': partie.id, 'joueur': 'j1'}) }}">
                <label class="card-hole full">
                    <input type="checkbox" class="mycheck"/>
                    <span class="destination">
                        <div data-tilt class="card card-deck">
                            <img src="{{ asset('assets/images/cartes/objets/fond_'~cartes[carte-1].objectif~'.png') }}" alt="" class="fond">
                            <img src="{{ asset('assets/images/cartes/objets/objet_'~cartes[carte-1].objectif~'.png') }}" class="objet">
                        </div>
                    </span>
                </label>
                <input type="hidden" name="action" value="cadeau_choix">
                <input type="hidden" name="carte" value="{{ cartes[carte-1].id }}">
                <button type="submit" class="cadeau_choix_btn" style="cursor: pointer;">Choisir</button>
            </form>
            {% endfor %}
        </div>
        {% elseif plateau.actions.j2.3.cartes is not empty %}
        {# si j2 a joué "concurrence" #}
            <div class="echange-advs">
            {% for carte in plateau.actions.j2.3.cartes %}
                {% if loop.index0 %2 == 0 %}
                <form class="concurrence_choix" action="{{ path('action_handler', {'partie': partie.id, 'joueur': 'j1'}) }}" method="post">
                    <input type="hidden" name="cartes[]" value="{{ cartes[carte-1].id }}">
                    <input type="hidden" name="action" value="concurrence_choix">
                    <label class="card-hole full">
                        <input type="checkbox" class="mycheck"/>
                        <span class="destination">
                            <div data-tilt class="card card-deck" id="1">
                                <img src="{{ asset('assets/images/cartes/objets/fond_'~cartes[carte-1].objectif~'.png') }}" alt="" class="fond">
                                <img src="{{ asset('assets/images/cartes/objets/objet_'~cartes[carte-1].objectif~'.png') }}" class="objet">
                            </div>
                        </span>
                    </label>
                {% else %}
                    <input type="hidden" name="cartes[]" value="{{ cartes[carte-1].id }}">
                    <label class="card-hole full">
                        <input type="checkbox" class="mycheck"/>
                        <span class="destination">
                            <div data-tilt class="card card-deck" id="1">
                                <img src="{{ asset('assets/images/cartes/objets/fond_'~cartes[carte-1].objectif~'.png') }}" alt="" class="fond">
                                <img src="{{ asset('assets/images/cartes/objets/objet_'~cartes[carte-1].objectif~'.png') }}" class="objet">
                            </div>
                        </span>
                    </label>
                    <button type="submit" class="concurrence_choix_btn" style="cursor: pointer;">Choisir</button>
                    </form>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
    </section>
    <section class="infos">
        <p class="nb-card-deck">{{ plateau.pioche|length }}</p>
        <p class="round">Round {{ partie.manche }}</p>
    </section>
    <section class="persos">
        <div class="cartes">
        {# affichage des cartes objets jouées par j2 #}
        {% for objectif in objectifs %}
            <div class="carte">
                <ul class="carte-top">
                {% for carte in plateau.terrainJ2[objectif.id] %}
                    <li>{{ objectif.valeur }}</li>
                {% endfor %}
                </ul>
                {% if objectif.id in plateau.jetons.j2 %}
                    <div class="jeton" style="transform: translate3D(40%,-205%,30px);"></div>
                {% elseif objectif.id in plateau.jetons.neutre %}
                    <div class="jeton"></div>
                {% elseif objectif.id in plateau.jetons.j1 %}
                    <div class="jeton" style="transform: translate3D(-140%,105%,30px);"></div>
                {% endif %}
                <img src="{{ asset('assets/images/cartes/persos/carte_'~objectif.id~'.jpg') }}" alt="">
                <ul class="carte-bot">
                {# affichage des cartes objets jouées par j1 #}
                {% for carte in plateau.terrainJ1[objectif.id] %}
                    <li>{{ objectif.valeur }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endfor %}
        </div>
    </section>
    {% if partie.tourJoueurId == 1 and plateau.tourJoue.j1 == 0 and plateau.actions.j2.2.cartes is empty and plateau.actions.j2.3.cartes is empty %}
    <script defer type="text/javascript">
        var inputCart = '<label class="card-hole empty"><input type="checkbox" class="mycheck"><span class="destination"></span></label>';
        var buttonCart = '<button type="submit">Jouer</button>';
        var inputSecret = '<input type="hidden" name="action" value="secret">';
        var inputCompromis = '<input type="hidden" name="action" value="compromis">';
        var inputCadeau = '<input type="hidden" name="action" value="cadeau">';
        var inputConcurrence = '<input type="hidden" name="action" value="concurrence">';

        $('#action1').click(function () {$('.form-joueur-actif').html(inputCart+inputSecret+buttonCart);});
        $('#action2').click(function () {$('.form-joueur-actif').html(inputCart+inputCart+inputCompromis+buttonCart);});
        $('#action3').click(function () {$('.form-joueur-actif').html(inputCart+inputCart+inputCart+inputCadeau+buttonCart);});
        $('#action4').click(function () {$('.form-joueur-actif').html(inputCart+inputCart+inputCart+inputCart+inputConcurrence+buttonCart);});
    </script>
    {% endif %}
{% elseif joueur == 2 %}
    <aside>
        <div class="glitch border-right2"></div>

        <div class="section-jr-top">
            <h2>{{ partie.joueur1.username }}</h2>
            <div class="profil-img">
                <div class="profil-img-container">
                    {% if partie.joueur1.imageName is empty %}
                        <img src="{{ gravatar(partie.joueur1.email) }}" id="profil-img" class="plateau-img" alt=""/>
                    {% else %}
                        <img src="{{ asset('uploads/images/profile/' ~ partie.joueur1.imageName) }}" id="profil-img" class="plateau-img" alt="image de {{ partie.joueur1.username }}">
                    {% endif %}
                </div>
            </div>
            <ul class="actions">
                {% for action in plateau.actions.j1 %}
                    {% if action.jouee %}
                        <li class="action{{ action.id }} disabled-action"><img src="{{ asset('assets/images/action_'~action.id~'.svg') }}" alt=""></li>
                    {% else %}
                        <li class="action{{ action.id }}"><img src="{{ asset('assets/images/action_'~action.id~'.svg') }}" alt=""></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="section-jr-bot">
            <h2>{{ partie.joueur2.username }}</h2>
            <div class="profil-img">
                <div class="profil-img-container">
                    {% if partie.joueur2.imageName is empty %}
                        <img src="{{ gravatar(partie.joueur2.email) }}" id="profil-img" class="plateau-img" alt=""/>
                    {% else %}
                        <img src="{{ asset('uploads/images/profile/' ~ partie.joueur2.imageName) }}" id="profil-img" class="plateau-img" alt="image de {{ partie.joueur2.username }}">
                    {% endif %}
                </div>
            </div>
            <ul class="actions">
                {% for action in plateau.actions.j2 %}
                    {% if action.jouee %}
                        <li class="action{{ action.id }} disabled-action" id="action{{ action.id }}"><img src="{{ asset('assets/images/action_'~action.id~'.svg') }}" alt=""></li>
                    {% else %}
                        <li class="action{{ action.id }}" id="action{{ action.id }}"><img src="{{ asset('assets/images/action_'~action.id~'.svg') }}" alt=""></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </aside>
    <section class="adversaire">
        <div class="deck-advs">
            {# affichage de la main de j1 #}
            {% for carte in plateau.mainJ1 %}
                {# Afficher dos de carte #}
                <div class="carte-advs"></div>
            {% endfor %}
        </div>
        {% if plateau.actions.j1.2.cartes is not empty and plateau.actions.j1.2.cartes|length == 3 %}
            {# si j1 a joué "cadeau" #}
            <div class="echange-advs">
                {% for carte in plateau.actions.j1.2.cartes %}
                    <form class="cadeau_choix" method="post" action="{{ path('action_handler', {'partie': partie.id, 'joueur': 'j2'}) }}">
                        <label class="card-hole full">
                            <input type="checkbox" class="mycheck"/>
                            <span class="destination">
                        <div data-tilt class="card card-deck">
                            <img src="{{ asset('assets/images/cartes/objets/fond_'~cartes[carte-1].objectif~'.png') }}" alt="" class="fond">
                            <img src="{{ asset('assets/images/cartes/objets/objet_'~cartes[carte-1].objectif~'.png') }}" class="objet">
                        </div>
                    </span>
                        </label>
                        <input type="hidden" name="action" value="cadeau_choix">
                        <input type="hidden" name="carte" value="{{ cartes[carte-1].id }}">
                        <button type="submit" class="cadeau_choix_btn" style="cursor: pointer;">Choisir</button>
                    </form>
                {% endfor %}
            </div>
        {% elseif plateau.actions.j1.3.cartes is not empty %}
            {# si j1 a joué "concurrence" #}
            <div class="echange-advs">
                {% for carte in plateau.actions.j1.3.cartes %}
                    {% if loop.index0 %2 == 0 %}
                    <form class="concurrence_choix" action="{{ path('action_handler', {'partie': partie.id, 'joueur': 'j2'}) }}" method="post">
                        <input type="hidden" name="cartes[]" value="{{ cartes[carte-1].id }}">
                        <input type="hidden" name="action" value="concurrence_choix">
                        <label class="card-hole full">
                            <input type="checkbox" class="mycheck"/>
                            <span class="destination">
                            <div data-tilt class="card card-deck" id="1">
                                <img src="{{ asset('assets/images/cartes/objets/fond_'~cartes[carte-1].objectif~'.png') }}" alt="" class="fond">
                                <img src="{{ asset('assets/images/cartes/objets/objet_'~cartes[carte-1].objectif~'.png') }}" class="objet">
                            </div>
                        </span>
                        </label>
                    {% else %}
                        <input type="hidden" name="cartes[]" value="{{ cartes[carte-1].id }}">
                        <label class="card-hole full">
                            <input type="checkbox" class="mycheck"/>
                            <span class="destination">
                            <div data-tilt class="card card-deck" id="1">
                                <img src="{{ asset('assets/images/cartes/objets/fond_'~cartes[carte-1].objectif~'.png') }}" alt="" class="fond">
                                <img src="{{ asset('assets/images/cartes/objets/objet_'~cartes[carte-1].objectif~'.png') }}" class="objet">
                            </div>
                        </span>
                        </label>
                        <button type="submit" class="concurrence_choix_btn" style="cursor: pointer;">Choisir</button>
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </section>
    <section class="infos">
        <p class="nb-card-deck">{{ plateau.pioche|length }}</p>
        <p class="round">Round {{ partie.manche }}</p>
    </section>
    <section class="persos">
        <div class="cartes">
            {# affichage des cartes objets jouées par j1 #}
            {% for objectif in objectifs %}
                <div class="carte">
                    <ul class="carte-top">
                        {% for carte in plateau.terrainJ1[objectif.id] %}
                            <li>{{ objectif.valeur }}</li>
                        {% endfor %}
                    </ul>
                    {% if objectif.id in plateau.jetons.j1 %}
                        <div class="jeton" style="transform: translate3D(40%,-205%,30px);"></div>
                    {% elseif objectif.id in plateau.jetons.neutre %}
                        <div class="jeton"></div>
                    {% elseif objectif.id in plateau.jetons.j2 %}
                        <div class="jeton" style="transform: translate3D(-140%,105%,30px);"></div>
                    {% endif %}
                    <img src="{{ asset('assets/images/cartes/persos/carte_'~objectif.id~'.jpg') }}" alt="">
                    <ul class="carte-bot">
                        {# affichage des cartes objets jouées par j2 #}
                        {% for carte in plateau.terrainJ2[objectif.id] %}
                            <li>{{ objectif.valeur }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </section>
    {% if partie.tourJoueurId == 2 and plateau.tourJoue.j2 == 0 and plateau.actions.j1.2.cartes is empty and plateau.actions.j1.3.cartes is empty %}
        <script defer type="text/javascript">
            var inputCart = '<label class="card-hole empty"><input type="checkbox" class="mycheck"><span class="destination"></span></label>';
            var buttonCart = '<button type="submit">Jouer</button>';
            var inputSecret = '<input type="hidden" name="action" value="secret">';
            var inputCompromis = '<input type="hidden" name="action" value="compromis">';
            var inputCadeau = '<input type="hidden" name="action" value="cadeau">';
            var inputConcurrence = '<input type="hidden" name="action" value="concurrence">';

            $('#action1').click(function () {$('.form-joueur-actif').html(inputCart+inputSecret+buttonCart);});
            $('#action2').click(function () {$('.form-joueur-actif').html(inputCart+inputCart+inputCompromis+buttonCart);});
            $('#action3').click(function () {$('.form-joueur-actif').html(inputCart+inputCart+inputCart+inputCadeau+buttonCart);});
            $('#action4').click(function () {$('.form-joueur-actif').html(inputCart+inputCart+inputCart+inputCart+inputConcurrence+buttonCart);});
        </script>
    {% endif %}
{% endif %}
    <script async type="text/javascript">
        $(document).ready(function() {
            $('.plateau-img').each(function(){
                var width = this.clientWidth
                var height = this.clientHeight
                if (height > width) {
                    $(this).css('width', '101%')
                } else if (height < width) {
                    $(this).css('height', '101%')
                }else{
                    $(this).css('width', '101%')
                }
            })
        })
    </script>
    <script defer type="text/javascript">
        $('.mycheck').prop('checked', false);
        $(".card-deck").mouseleave(function () {
            $(".objet", this).addClass("transZ");
        });
        $(".card-deck").mouseenter(function () {
            $(".objet", this).removeClass("transZ");
        });
        function cardToDeck(clic_id) {
            console.log('card in deck '+clic_id);
            $('#'+clic_id+':parent').parent().parent().addClass('empty').removeClass('full');
            $("#"+clic_id).appendTo('.deck').hide().delay(100).show(200);
            $("#"+clic_id).attr('onclick', 'cardToChange(this.id)');
        }
        function cardToChange(clic_id) {
            console.log('card in change ' +clic_id);
            $("#"+clic_id).appendTo('.echange form .empty .destination:first').hide().delay(100).show(200);
            $('.echange form .empty:first > .mycheck').prop('checked', true);
            $('.echange form .empty:first').addClass('full').removeClass('empty');
            $("#"+clic_id).attr('onclick', 'cardToDeck(this.id)');
        }
    </script>
    <script>
        $('.cadeau_choix').on('submit', function(e) {
            e.preventDefault();
            console.log($(this).serialize());
            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: $(this).serialize(),
                success: function (res) {
                    $("#plateau").load("{{ path('partie_plateau', {id: partie.id}) }}")
                }
            });
        });
        $('.concurrence_choix').on('submit', function(e) {
            e.preventDefault();
            console.log($(this).serialize());
            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: $(this).serialize(),
                success: function (res) {
                    $("#plateau").load("{{ path('partie_plateau', {id: partie.id}) }}")
                }
            });
        });
    </script>
    <script defer type="text/javascript">
        $(document).ready(function(){
            $(".card-deck").tilt({
                maxTilt: -8,
                scale: 1.07
            });
            $(".carte").tilt({
                maxTilt: -10,
            });
        });
    </script>