{% extends 'base.html.twig' %}

{% block body %}
<div align="center" id="plateau">
{% for message in app.flashes('notice') %}
    {{ message }}
{% endfor %}
{% if joueur == 1 %}

    {# affichage des cartes des actions de j2 #}
    {% if plateau.actions.j2.2.cartes is not empty and plateau.actions.j2.2.cartes|length == 3 %}
        {# si j2 a joué "cadeau" #}
        <div style="border: 2px solid #333">
            <form id="cadeau_choix" action="{{ path('action_handler', {'partie': partie.id, 'joueur': 'j1'}) }}" method="post">
            {% for carte in plateau.actions.j2.2.cartes %}
                <div style="display:inline-block;background:lightgreen;width:50px;height:75px;">{{ cartes[carte-1].id }}</div>
                <input type="hidden" name="action" value="cadeau_choix">
                <button class="btn btn-info" name="carte" type="submit" value="{{ cartes[carte-1].id }}">Choisir</button>
            {% endfor %}
            </form>
        </div>
    {% elseif plateau.actions.j1.2.cartes is not empty and plateau.actions.j1.2.cartes|length < 3 %}
        <div style="border: 2px solid #333">
            <form id="cadeau_choix_2" action="{{ path('action_handler', {'partie': partie.id, 'joueur': 'j1'}) }}" method="post">
            {% for carte in plateau.actions.j1.2.cartes %}
                <div style="display:inline-block;background:lightgreen;width:50px;height:75px;">{{ cartes[carte-1].id }}</div>
                <input type="hidden" name="action" value="cadeau_choix_2">
                <button class="btn btn-info" name="carte" type="submit" value="{{ cartes[carte-1].id }}">Choisir</button>
            {% endfor %}
            </form>
        </div>
    {% elseif plateau.actions.j2.3.cartes is not empty %}
        {# si j2 a joué "concurrence" #}
        <div style="border: 2px solid #333">
            {% for carte in plateau.actions.j2.3.cartes %}
                <div style="display:inline-block;background:lightgreen;width:50px;height:75px;">{{ cartes[carte-1].id }}</div>
                {% if loop.index0 %2 == 0 %}
                <form id="concurrence_choix" action="{{ path('action_handler', {'partie': partie.id, 'joueur': 'j1'}) }}" method="post">
                    <input type="hidden" name="cartes[]" value="{{ cartes[carte-1].id }}">
                    <input type="hidden" name="action" value="concurrence_choix">
                {% else %}
                    <input type="hidden" name="cartes[]" value="{{ cartes[carte-1].id }}">
                    <button class="btn btn-info" type="submit">Choisir</button>
                </form>
                {% endif %}
            {% endfor %}
        </div>
    {% elseif plateau.actions.j2.3.choisies.j1 is defined and plateau.actions.j2.3.choisies.j1 is not empty %}
        {# si j1 a choisi ses cartes lors de "concurrence" lancé par j2 #}
        <div style="border: 2px solid #333">
            <form id="concurrence_choix_2" action="{{ path('action_handler', {'partie': partie.id, 'joueur': 'j1'}) }}" method="post">
            {% for carte in plateau.actions.j2.3.choisies.j1 %}
                <div style="display:inline-block;background:lightgreen;width:50px;height:75px;">{{ cartes[carte-1].id }}</div>
                    <input type="hidden" name="action" value="concurrence_choix_2">
                    <button class="btn btn-info" type="submit" name="carte" value="{{ cartes[carte-1].id }}">Choisir</button>
            {% endfor %}
            </form>
        </div>
    {% elseif plateau.actions.j1.3.choisies.j1 is defined and plateau.actions.j1.3.choisies.j1 is not empty %}
        <div style="border: 2px solid #333">
            <form id="concurrence_choix_2_own" action="{{ path('action_handler', {'partie': partie.id, 'joueur': 'j1'}) }}" method="post">

                {% for carte in plateau.actions.j1.3.choisies.j1 %}
                    <div style="display:inline-block;background:lightgreen;width:50px;height:75px;">{{ cartes[carte-1].id }}</div>
                    <input type="hidden" name="action" value="concurrence_choix_2_own">
                    <button class="btn btn-info" type="submit" name="carte" value="{{ cartes[carte-1].id }}">Choisir</button>
                {% endfor %}
            </form>
        </div>
    {% endif %}
    <br/><br/>
    {# affichage de la main de j2#}
    {% for carte in plateau.mainJ2 %}
        {# Afficher dos de carte #}
        <div style="display:inline-block;background:lightgreen;width:100px;height:150px;">{{ cartes[carte-1].id }}</div>
    {% endfor %}
    <br/><br/>
    {# affichage des actions de j2 #}
    {% for action in plateau.actions.j2 %}
        {% if action.jouee %}
            <li style="background:darkred; padding: 5px 30px">{{ action.nom }}</li>
        {% else %}
            <li style="background:lightgreen; padding: 5px 30px">{{ action.nom }}</li>
        {% endif %}
    {% endfor %}
    <br/><br/>
    {# affichage des cartes objets jouées par j2 #}
    {% for objectif in objectifs %}
        <div style="position:relative;left:-65px;display:inline-block;border:1px solid #000;width:150px;height:225px;">
            {% for carte in plateau.terrainJ2[objectif.id] %}
                <div style="display:inline-block;background:indianred;width:50px;height:75px;">{{ cartes[carte-1].id }}</div>
            {% else %}
                <div style="display:inline-block;border:1px solid indianred;width:50px;height:75px;">non</div>
            {% endfor %}
        </div>
    {% endfor %}
    <br/><br/>
    {# affichage des cartes objectifs #}
    {% for objectif in objectifs %}
        <div style="display:inline-block;background:indianred;width:150px;height:225px;">{{ objectif.id }}
        {# affichage des input radio si action en cours #}
        {% if plateau.actions.j2.2.cartes is not empty %}
            <input type="radio" value="{{ objectif.id }}" name="objectif" form="cadeau_choix" required>
        {% elseif plateau.actions.j1.2.cartes is not empty and plateau.actions.j1.2.cartes|length < 3 %}
            <input type="radio" value="{{ objectif.id }}" name="objectif" form="cadeau_choix_2" required>
        {% elseif plateau.actions.j2.3.choisies.j1 is defined and plateau.actions.j2.3.choisies.j1 is not empty %}
            <input type="radio" value="{{ objectif.id }}" name="objectif" form="concurrence_choix_2" required>
        {% elseif plateau.actions.j1.3.choisies.j1 is defined and plateau.actions.j1.3.choisies.j1 is not empty %}
            <input type="radio" value="{{ objectif.id }}" name="objectif" form="concurrence_choix_2_own" required>
        {% endif %}
        {# affichage des jetons #}
        {% if objectif.id in plateau.jetons.j2 %}
            <div style="position: absolute">Jeton J2</div>
        {% elseif objectif.id in plateau.jetons.neutre %}
            <div style="position: absolute">Jeton neutre</div>
        {% elseif objectif.id in plateau.jetons.j1 %}
            <div style="position: absolute">Jeton J1</div>
        {% endif %}
        </div>
    {% endfor %}

    {# affichage de la pioche #}
    {% if plateau.pioche is not empty %}
    <div style="margin-left: 50px;display:inline-block;">
        <div style="background:orange;width:75px;height:112.5px;">{{ cartes[plateau.pioche.0 - 1].id }}</div>
    </div>
    {% else %}
        <div style="margin-left: 50px;display:inline-block;">
            <div style="border:1px solid orange;width:75px;height:112.5px;"></div>
        </div>
    {% endif %}
    <br/><br/>
    {# affichage des cartes objets jouées par j1 #}
    {% for objectif in objectifs %}
        <div style="position:relative;left:-65px;display:inline-block;border:1px solid #000;width:150px;height:225px;">
            {% for carte in plateau.terrainJ1[objectif.id] %}
                <div style="display:inline-block;background:indianred;width:50px;height:75px;">{{ cartes[carte-1].id }}</div>
            {% else %}
                <div style="display:inline-block;border:1px solid indianred;width:50px;height:75px;">non</div>
            {% endfor %}
        </div>
    {% endfor %}
    <br/><br/>
    {# affichage des actions de j1 #}
    {% for action in plateau.actions.j1 %}
        {# si c'est au joueur 1 de jouer #}
        {% if partie.tourJoueurId == 1 %}
            {% if plateau.tourJoue.j1 == 0 %}
                <form action="{{ path('action_handler', {'partie': partie.id, 'joueur': 'j1'}) }}" method="post">
                {% if action.jouee %}
                    <li style="background:darkred;padding:5px 30px">{{ action.nom}}</li>
                {% else %}
                    <input type="submit" name="action" value="{{ action.nom }}" style="background:cornflowerblue;padding:5px 30px; margin: auto 2px;">
                {% endif %}
            {% else %}
                {% if action.jouee %}
                    <li style="background:darkred;padding:5px 30px">{{ action.nom}}</li>
                {% else %}
                    <li style="background:cornflowerblue;padding:5px 30px">{{ action.nom}}</li>
                {% endif %}
            {% endif %}
        {# si ce n'est pas au joueur 1 de jouer #}
        {% else %}
            {% if action.jouee %}
                <li style="background:darkred;padding:5px 30px">{{ action.nom}}</li>
            {% else %}
                <li style="background:cornflowerblue;padding:5px 30px">{{ action.nom}}</li>
            {% endif %}
        {% endif %}
    {% endfor %}
    <br/><br/>
    {# affichage de la main de j1 #}
    {% for carte in plateau.mainJ1 %}
        <div style="display:inline-block;background:cornflowerblue;width:100px;height:150px;">
            {{ cartes[carte-1].id }}
            <input type="checkbox" name="cartes[]" value="{{ cartes[carte-1].id }}">
        </div>
    {% endfor %}
    </form>
    <br/><br/>
    {# carte secret #}
    {%  for carte in plateau.actions.j1.0.cartes %}
        <div style="margin-top:25px;display:inline-block;background:cornflowerblue;width:50px;height:75px;">{{ cartes[carte-1].id }}</div>
    {% else %}
        {# si pas de carte secret #}
    {% endfor %}

    {# cartes compromis #}
    {% for carte in plateau.actions.j1.1.cartes %}
        <div style="margin-top:25px;display:inline-block;background:cornflowerblue;width:50px;height:75px;">{{ cartes[carte-1].id }}</div>
    {% else %}
        {# si pas de cartes compromis #}
    {% endfor %}
    <br/><br/>
    {# bouton fin de tour #}
    <form action="{{ path('partie_changerTour', {'partie': partie.id}) }}" method="POST">
    {% if partie.tourJoueurId == 2 %}
        <button class="btn btn-info" disabled>Travail terminé</button>
    {% elseif plateau.tourJoue.j1 == true %}
        <button class="btn btn-info" type="submit">Travail terminé !</button>
    {% else %}
        <button class="btn btn-info" disabled>Travail terminé</button>
    {% endif %}
    </form>

{% elseif joueur == 2 %}
    {# affichage des cartes des actions de j1 #}
    {% if plateau.actions.j1.2.cartes is not empty and plateau.actions.j1.2.cartes|length == 3 %}
        <div style="border: 2px solid #333">
            <form id="cadeau_choix" action="{{ path('action_handler', {'partie': partie.id, 'joueur': 'j2'}) }}" method="post">
            {% for carte in plateau.actions.j1.2.cartes %}
                <div style="display:inline-block;background:lightgreen;width:50px;height:75px;">{{ cartes[carte-1].id }}</div>
                    <input type="hidden" name="action" value="cadeau_choix">
                <br/>
                    <button class="btn btn-info" name="carte" type="submit" value="{{ cartes[carte-1].id }}">Choisir</button>
                <br/>
            {% endfor %}
            </form>
        </div>
    {% elseif plateau.actions.j2.2.cartes is not empty and plateau.actions.j2.2.cartes|length < 3 %}
        <div style="border: 2px solid #333">
            <form id="cadeau_choix_2" action="{{ path('action_handler', {'partie': partie.id, 'joueur': 'j2'}) }}" method="post">
            {% for carte in plateau.actions.j2.2.cartes %}
                <div style="display:inline-block;background:lightgreen;width:50px;height:75px;">{{ cartes[carte-1].id }}</div>
                    <input type="hidden" name="action" value="cadeau_choix_2">
                    <button class="btn btn-info" name="carte" type="submit" value="{{ cartes[carte-1].id }}">Choisir</button>
            {% endfor %}
            </form>
        </div>
    {% elseif plateau.actions.j1.3.cartes is not empty %}
        {# si j1 a joué "concurrence" #}
        <div style="border: 2px solid #333">
            {% for carte in plateau.actions.j1.3.cartes %}
                <div style="display:inline-block;background:lightgreen;width:50px;height:75px;">{{ cartes[carte-1].id }}</div>
                {% if loop.index0 %2 == 0 %}
                <form id="concurrence_choix" action="{{ path('action_handler', {'partie': partie.id, 'joueur': 'j2'}) }}" method="post">
                    <input type="hidden" name="cartes[]" value="{{ cartes[carte-1].id }}">
                    <input type="hidden" name="action" value="concurrence_choix">
                {% else %}
                    <input type="hidden" name="cartes[]" value="{{ cartes[carte-1].id }}">
                    <button class="btn btn-info" type="submit">Choisir</button>
                </form>
                {% endif %}
            {% endfor %}
        </div>
    {% elseif plateau.actions.j1.3.choisies.j2 is defined and plateau.actions.j1.3.choisies.j2 is not empty %}
        {# si j2 a choisi ses cartes lors de "concurrence" lancé par j1 #}
        <div style="border: 2px solid #333">
            <form id="concurrence_choix_2" action="{{ path('action_handler', {'partie': partie.id, 'joueur': 'j2'}) }}" method="post">

            {% for carte in plateau.actions.j1.3.choisies.j2 %}
                <div style="display:inline-block;background:lightgreen;width:50px;height:75px;">{{ cartes[carte-1].id }}</div>
                <input type="hidden" name="action" value="concurrence_choix_2">
                <button class="btn btn-info" type="submit" name="carte" value="{{ cartes[carte-1].id }}">Choisir</button>
            {% endfor %}
            </form>
        </div>
    {% elseif plateau.actions.j2.3.choisies.j2 is defined and plateau.actions.j2.3.choisies.j2 is not empty %}
        <div style="border: 2px solid #333">
            <form id="concurrence_choix_2_own" action="{{ path('action_handler', {'partie': partie.id, 'joueur': 'j2'}) }}" method="post">

                {% for carte in plateau.actions.j2.3.choisies.j2 %}
                    <div style="display:inline-block;background:lightgreen;width:50px;height:75px;">{{ cartes[carte-1].id }}</div>
                    <input type="hidden" name="action" value="concurrence_choix_2_own">
                    <button class="btn btn-info" type="submit" name="carte" value="{{ cartes[carte-1].id }}">Choisir</button>
                {% endfor %}
            </form>
        </div>
    {% endif %}
    <br/><br/>
    {# affichage de la main de j1 #}
    {% for carte in plateau.mainJ1 %}
        {# Afficher dos de carte #}
        <div style="display:inline-block;background:lightgreen;width:100px;height:150px;">{{ cartes[carte-1].id }}</div>
    {% endfor %}
    <br/><br/>
    {# affichage des actions de j1 #}
    {% for action in plateau.actions.j1 %}
        {% if action.jouee %}
            <li style="background:darkred; padding: 5px 30px">{{ action.nom }}</li>
        {% else %}
            <li style="background:lightgreen; padding: 5px 30px">{{ action.nom }}</li>
        {% endif %}
    {% endfor %}
    <br/><br/>
    {# affichage des cartes objets jouées par j1 #}
    {% for objectif in objectifs %}
        <div style="position:relative;left:-65px;display:inline-block;border:1px solid #000;width:150px;height:225px;">
            {% for carte in plateau.terrainJ1[objectif.id] %}
                <div style="display:inline-block;background:indianred;width:50px;height:75px;">{{ cartes[carte-1].id }}</div>
            {% else %}
                <div style="display:inline-block;border:1px solid indianred;width:50px;height:75px;">non</div>
            {% endfor %}
        </div>
    {% endfor %}
    <br/><br/>
    {# affichage des cartes objectifs #}
    {% for objectif in objectifs %}
        <div style="display:inline-block;background:indianred;width:150px;height:225px;">{{ objectif.id }}
        {# affichage des input radio si action en cours #}
        {% if plateau.actions.j1.2.cartes is not empty and plateau.actions.j1.2.cartes|length == 3 %}
            <input type="radio" value="{{ objectif.id }}" name="objectif" form="cadeau_choix" required>
        {% elseif plateau.actions.j2.2.cartes is not empty and plateau.actions.j2.2.cartes|length < 3 %}
            <input type="radio" value="{{ objectif.id }}" name="objectif" form="cadeau_choix_2" required>
        {% elseif plateau.actions.j1.3.choisies.j2 is defined and plateau.actions.j1.3.choisies.j2 is not empty  %}
            <input type="radio" value="{{ objectif.id }}" name="objectif" form="concurrence_choix_2" required>
        {% elseif plateau.actions.j2.3.choisies.j2 is defined and plateau.actions.j2.3.choisies.j2 is not empty %}
            <input type="radio" value="{{ objectif.id }}" name="objectif" form="concurrence_choix_2_own" required>
        {% endif %}
        {# affichage des jetons #}
        {% if objectif.id in plateau.jetons.j2 %}
            <div style="position: absolute">Jeton J2</div>
        {% elseif objectif.id in plateau.jetons.neutre %}
            <div style="position: absolute">Jeton neutre</div>
        {% elseif objectif.id in plateau.jetons.j1 %}
            <div style="position: absolute">Jeton J1</div>
        {% endif %}
        </div>
    {% endfor %}
    {# affichage de la pioche #}
    {% if plateau.pioche is not empty %}
        <div style="margin-left: 50px;display:inline-block;">
            <div style="background:orange;width:75px;height:112.5px;">{{ cartes[plateau.pioche.0 - 1].id }}</div>
        </div>
    {% else %}
        <div style="margin-left: 50px;display:inline-block;">
            <div style="border:1px solid orange;width:75px;height:112.5px;"></div>
        </div>
    {% endif %}
    <br/><br/>
    {# affichage des cartes objets jouées par j2 #}
    {% for objectif in objectifs %}
        <div style="position:relative;left:-65px;display:inline-block;border:1px solid #000;width:150px;height:225px;">
            {% for carte in plateau.terrainJ2[objectif.id] %}
                <div style="display:inline-block;background:indianred;width:50px;height:75px;">{{ cartes[carte-1].id }}</div>
            {% else %}
                <div style="display:inline-block;border:1px solid indianred;width:50px;height:75px;">non</div>
            {% endfor %}
        </div>
    {% endfor %}
    <br/><br/>
    {# affichage des actions de j2 #}
    {% for action in plateau.actions.j2 %}
        {# si c'est au joueur 1 de jouer #}
        {% if partie.tourJoueurId == 2 %}
            {% if plateau.tourJoue.j2 == 0 %}
                <form action="{{ path('action_handler', {'partie': partie.id, 'joueur': 'j2'}) }}" method="post">
                {% if action.jouee %}
                    <li style="background:darkred;padding:5px 30px">{{ action.nom}}</li>
                {% else %}
                    <input type="submit" name="action" value="{{ action.nom }}" style="background:cornflowerblue;padding:5px 30px; margin: auto 2px;">
                {% endif %}
            {% else %}
                {% if action.jouee %}
                    <li style="background:darkred;padding:5px 30px">{{ action.nom}}</li>
                {% else %}
                    <li style="background:cornflowerblue;padding:5px 30px">{{ action.nom}}</li>
                {% endif %}
            {% endif %}
            {# si ce n'est pas au joueur 2 de jouer #}
        {% else %}
            {% if action.jouee %}
                <li style="background:darkred;padding:5px 30px">{{ action.nom}}</li>
            {% else %}
                <li style="background:cornflowerblue;padding:5px 30px">{{ action.nom}}</li>
            {% endif %}
        {% endif %}
    {% endfor %}
    <br/><br/>
    {# affichage de la main de j2 #}
    {% for carte in plateau.mainJ2 %}
        <div style="display:inline-block;background:cornflowerblue;width:100px;height:150px;">
            {{ cartes[carte-1].id }}
            <input type="checkbox" name="cartes[]" value="{{ cartes[carte-1].id }}">
        </div>
    {% endfor %}
        </form>
    <br/><br/>
    {# carte secret #}
    {%  for carte in plateau.actions.j2.0.cartes %}
        <div style="margin-top:25px;display:inline-block;background:cornflowerblue;width:50px;height:75px;">{{ cartes[carte-1].id }}</div>
    {% else %}
        {# si pas de carte secret #}
    {% endfor %}

    {# cartes compromis #}
    {% for carte in plateau.actions.j2.1.cartes %}
        <div style="margin-top:25px;display:inline-block;background:cornflowerblue;width:50px;height:75px;">{{ cartes[carte-1].id }}</div>
    {% else %}
        {# si pas de cartes compromis #}
    {% endfor %}
    <br/><br/>
    {# bouton fin de tour #}
    <form action="{{ path('partie_changerTour', {'partie': partie.id}) }}" method="POST">
        {% if partie.tourJoueurId == 1 %}
            <button class="btn btn-info" disabled>Travail terminé</button>
        {% elseif plateau.tourJoue.j2 == true %}
            <button class="btn btn-info" type="submit">Travail terminé !</button>
        {% else %}
            <button class="btn btn-info" disabled>Travail terminé</button>
        {% endif %}
    </form>
{% endif %}
</div>

{% endblock %}