{% extends 'base.html.twig' %}

{% block body %}

{% for message in app.flashes('notice') %}
    {{ message }}
{% endfor %}

{% if joueur == 1 %}
    <aside>
        <div class="top">
            <div class="name"><div class="inside">{{ partie.joueur2.username }}</div></div>
            <div class="avatar">
                {% if partie.joueur2.imageName is empty %}
                    <img src="{{ gravatar(partie.joueur2.email) }}" alt="" id="profil-img"/>
                {% else %}
                    <img src="{{ asset('uploads/images/profile/' ~ partie.joueur2.imageName) }}" alt="image de {{ partie.joueur2.username }}" id="profil-img">
                {% endif %}
            </div>
            <ul class="actions">
                {# affichage des actions de j2 #}
                {% for action in plateau.actions.j2 %}
                    {% if action.jouee %}
                        <li class="action disabled"><img src="{{ asset('assets/images/plateau/action_'~loop.index~'.png') }}"></li>
                    {% else %}
                        <li class="action"><img src="{{ asset('assets/images/plateau/action_'~loop.index~'.png') }}"></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="middle"></div>
        <div class="bottom">
            <ul class="actions">
                {# affichage des actions de j1 #}
                {% for action in plateau.actions.j1 %}
                    {% if action.jouee %}
                        <li class="action disabled"><img src="{{ asset('assets/images/plateau/action_'~loop.index~'.png') }}"></li>
                    {% else %}
                        <li class="action"><img src="{{ asset('assets/images/plateau/action_'~loop.index~'.png') }}"></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="avatar">
                {% if partie.joueur1.imageName is empty %}
                    <img src="{{ gravatar(partie.joueur1.email) }}" alt="" id="profil-img"/>
                {% else %}
                    <img src="{{ asset('uploads/images/profile/' ~ partie.joueur1.imageName) }}" alt="image de {{ partie.joueur1.username }}" id="profil-img">
                {% endif %}
            </div>
            <div class="name"><div class="inside">{{ partie.joueur1.username }}</div></div>
        </div>
    </aside>

    <div class="right">
        <div class="top">
            <div class="cards">
                {# affichage de la main de j2#}
                {% for carte in plateau.mainJ2 %}
                    {# Afficher dos de carte #}
                    <div class="card"><img src="{{ asset('assets/images/plateau/card_back.jpg') }}"></div>
                {% endfor %}
            </div>
            <div class="round"><div class="inside">round {{ partie.manche }}</div></div>
            <div class="deck"><div class="inside">deck {{ plateau.pioche|length }}</div></div>
        </div>

        <div class="middle">
            {% for objectif in objectifs %}
                <div class="cardarea">
                    <div class="tokenstop">
                        {% for carte in plateau.terrainJ2[objectif.id] %}
                            <div class="token"><div class="inside"><div class="number">{{ cartes[carte-1].objectif }}</div></div></div>
                        {% endfor %}
                    </div>
                    <div class="card">
                        <img class="pirate" src="{{ asset('uploads/images/profile/' ~ objectif.imageName) }}">
                        <div class="inside"><img class="cursor" src="{{ asset('assets/images/plateau/card_token.jpg') }}"></div>
                    </div>
                    <div class="tokensbottom">
                        {% for carte in plateau.terrainJ1[objectif.id] %}
                            <div class="token"><div class="inside"><div class="number">{{ cartes[carte-1].objectif }}</div></div></div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="bottom">
            <div class="playarea">
                <div class="acting">
                    <div class="inside">
                        <div class="card active"><img src="{{ asset('assets/images/plateau/card_back.jpg') }}"></div>
                        <div class="card"><img src="{{ asset('assets/images/plateau/card_empty.png') }}"></div>
                        <div class="card"><img src="{{ asset('assets/images/plateau/card_empty.png') }}"></div>
                        <div class="card disabled"><img src="{{ asset('assets/images/plateau/card_empty.png') }}"></div>
                    </div>
                </div>
                <div class="spacing"></div>

{% elseif joueur == 2 %}

{% endif %}
    <script>
        $(document).ready(function() {
            $('.action_form_btn').on('click', function () {
                var cartes = [];
                $("input:checked").each(function() {
                    cartes.push($(this).val());
                });
                var action = $(this).val();
                $('#action_form').submit(function(e) {
                    e.preventDefault();
                    $.ajax({
                        url: $(this).attr('action'),
                        type: 'POST',
                        data: {
                            cartes: JSON.stringify(cartes),
                            action: action
                        },
                    });
                });
            });
            $('.cadeau_choix_btn').on('click', function () {
                var carte = $(this).val();
                $('#cadeau_choix').submit(function(e) {
                    e.preventDefault();
                    console.log($(this).serialize());
                    action = $(this).serialize().split('=')[1];
                    action = action.split('&')[0];
                    console.log(action)
                    $.ajax({
                        url: $(this).attr('action'),
                        type: 'POST',
                        data: {
                            action: action,
                            carte: carte
                        },
                        success: function (res) {
                            $("#plateau").load("{{ path('partie_plateau', {id: partie.id}) }}")
                        }
                    });
                });
            });
            $('.concurrence_choix_btn').on('click', function () {
                $(this).closest('form').submit(function(e) {
                    e.preventDefault();
                    //console.log($(this).serialize());
                    req = $(this).serialize().split('] ');
                    //action = action.split('&')[0];
                    console.log(req)
                    $.ajax({
                        url: $(this).attr('action'),
                        type: 'POST',
                        data: $(this).serialize(),
                        success: function (res) {
                            $("#plateau").load("{{ path('partie_plateau', {id: partie.id}) }}")
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}