{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/plateau.css') }}">
{% endblock %}
{% block body %}

{% for message in app.flashes('notice') %}
    {{ message }}
{% endfor %}

{% if joueur == 1 %}
<div id="vue1">
    <aside>
        <div class="top">
            <div class="name"><div class="inside">{{ partie.joueur2.username }}</div></div>
            <div class="avatar">
                {# affichage des infos de j2 #}
                {% if partie.joueur2.imageName is empty %}
                    <img src="{{ gravatar(partie.joueur2.email) }}" id="profil-img" alt="gravatar de {{ partie.joueur2.username }}"/>
                {% else %}
                    <img src="{{ asset('uploads/images/profile/' ~ partie.joueur2.imageName) }}" id="profil-img" alt="image de {{ partie.joueur2.username }}">
                {% endif %}
            </div>
            <ul class="actions">
                {# affichage des actions de j2 #}
                {% for action in plateau.actions.j2 %}
                    {% if action.jouee %}
                        <li class="action disabled"><img src="{{ asset('assets/images/plateau/action_' ~ loop.index ~ '.png') }}"></li>
                    {% else %}
                        <li class="action"><img src="{{ asset('assets/images/plateau/action_' ~ loop.index ~ '.png') }}"></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="middle"></div>
        <div class="bottom">
            <ul class="actions">
                {# affichage des actions de j1 #}
                {# si c'est au joueur 1 de jouer #}
                {% if partie.tourJoueurId == 1 and plateau.tourJoue.j1 == 0 and plateau.actions.j2.2.cartes is empty and plateau.actions.j2.3.cartes is empty %}
                <form id="action_form" action="{{ path('action_handler', {'partie': partie.id, 'joueur': 'j1'}) }}" method="post">
                    {% for action in plateau.actions.j1 %}
                        {% if action.jouee %}
                            <li class="action disabled"><img src="{{ asset('assets/images/plateau/action_'~loop.index~'.png') }}"></li>
                        {% else %}
                            <button class="action" name="action" value="{{ action.nom }}">
                                <li class="action disabled"><img src="{{ asset('assets/images/plateau/action_'~loop.index~'.png') }}"></li>
                            </button>
                        {% endif %}
                        {# si ce n'est pas au joueur 1 de jouer #}
                    {% else %}
                        {% if action.jouee %}
                            <li class="action disabled"><img src="{{ asset('assets/images/plateau/action_'~loop.index~'.png') }}"></li>
                        {% else %}
                            <li class="action"><img src="{{ asset('assets/images/plateau/action_'~loop.index~'.png') }}"></li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for action in plateau.actions.j1 %}
                        {% if action.jouee %}
                            <li class="action disabled"><img src="{{ asset('assets/images/plateau/action_'~loop.index~'.png') }}"></li>
                        {% else %}
                            <li class="action"><img src="{{ asset('assets/images/plateau/action_'~loop.index~'.png') }}"></li>
                        {% endif %}
                    {% endfor %}
                    </form>
                {% endif %}
            </ul>
            <div class="avatar">
                {# affichage des infos de j1#}
                {% if partie.joueur1.imageName is empty %}
                    <img src="{{ gravatar(partie.joueur1.email) }}" id="profil-img" alt="gravatar de {{ partie.joueur1.username }}"/>
                {% else %}
                    <img src="{{ asset('uploads/images/profile/' ~ partie.joueur1.imageName) }}" id="profil-img" alt="image de {{ partie.joueur1.username }}">
                {% endif %}
            </div>
            <div class="name"><div class="inside">{{ partie.joueur1.username }}</div></div>
        </div>
    </aside>

    <div class="right">
        <div class="top">
            <div class="cards">
                {# affichage de la main de j2#}
                {% for carte in plateau.mainJ2 %}
                    {# Afficher dos de carte #}
                    <div class="card"><img src="{{ asset('assets/images/plateau/card_back.jpg') }}"></div>
                {% endfor %}
            </div>
            <div class="round"><div class="inside">round {{ partie.manche }}</div></div>
            <div class="score"><div class="inside">tour joueur {{ partie.tourJoueurId }}</div></div>
            <div class="deck"><div class="inside">deck {{ plateau.pioche|length }}</div></div>
        </div>
        <div class="middle">
            {# affichage des cartes objectifs ainsi que les cartes objets jouées #}
            {% for objectif in objectifs %}
                <div class="cardarea">
                    <div class="tokenstop">
                    {% for carte in plateau.terrainJ2[objectif.id] %}
                        <div class="token"><div class="inside"><div class="number">{{ objectif.valeur }}</div></div></div>
                    {% endfor %}
                    </div>
                    <div class="card">
                        <img class="pirate" src="{{ asset('assets/images/plateau/objectif_'~loop.index~'.jpg') }}" />
                        <div class="inside"><img class="cursor" src="{{ asset('assets/images/plateau/card_token.jpg') }}"></div>
                    </div>
                    <div class="tokensbottom">
                        {% for carte in plateau.terrainJ1[objectif.id] %}
                            <div class="token"><div class="inside"><div class="number">{{ objectif.valeur }}</div></div></div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="bottom">
            <div class="playarea">
                    {# affichage des cartes des actions de j2 #}
                    {% if plateau.actions.j2.2.cartes is not empty and plateau.actions.j2.2.cartes|length == 3 %}
                        {# si j2 a joué "cadeau" #}
                    <div class="acting">
                        <div class="inside">
                            <form id="cadeau_choix" action="{{ path('action_handler', {'partie': partie.id, 'joueur': 'j1'}) }}" method="post">
                                {% for carte in plateau.actions.j2.2.cartes %}
                                    <div class="card"><img src="{{ asset('assets/images/plateau/card_back.jpg') }}"></div>
                                    <input type="hidden" name="action" value="cadeau_choix">
                                    <button class="cadeau_choix_btn" name="carte" value="{{ cartes[carte-1].id }}">Choisir</button>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                    {% elseif plateau.actions.j2.3.cartes is not empty %}
                        {# si j2 a joué "concurrence" #}
                        <div class="acting">
                            <div class="inside">
                                {% for carte in plateau.actions.j2.3.cartes %}
                                    <div class="card"><img src="{{ asset('assets/images/plateau/card_back.jpg') }}"></div>
                                    {% if loop.index0 %2 == 0 %}
                                    <form class="concurrence_choix" action="{{ path('action_handler', {'partie': partie.id, 'joueur': 'j1'}) }}" method="post">
                                        <input type="hidden" name="cartes[]" value="{{ cartes[carte-1].id }}">
                                        <input type="hidden" name="action" value="concurrence_choix">
                                    {% else %}
                                        <input type="hidden" name="cartes[]" value="{{ cartes[carte-1].id }}">
                                        <button class="concurrence_choix_btn">Choisir</button>
                                    </form>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="acting hidden">
                            <div class="inside"></div>
                        </div>
                    {% endif %}
                <div class="dummy"></div>
        </div>
    </div>
</div>
{% elseif joueur == 2 %}
    <div id="vue1">
    <aside>
        <div class="top">
            {# affichage des infos de j1 #}
            <div class="name"><div class="inside">{{ partie.joueur1.username }}</div></div>
            <div class="avatar">
                {% if partie.joueur1.imageName is empty %}
                    <img src="{{ gravatar(partie.joueur1.email) }}" id="profil-img" alt="gravatar de {{ partie.joueur1.username }}"/>
                {% else %}
                    <img src="{{ asset('uploads/images/profile/' ~ partie.joueur1.imageName) }}" id="profil-img" alt="image de {{ partie.joueur1.username }}">
                {% endif %}
            </div>
            <ul class="actions">
                {# affichage des actions de j1 #}
                {% for action in plateau.actions.j1 %}
                    {% if action.jouee %}
                        <li class="action disabled"><img src="{{ asset('assets/images/plateau/action_' ~ loop.index ~ '.png') }}"></li>
                    {% else %}
                        <li class="action"><img src="{{ asset('assets/images/plateau/action_' ~ loop.index ~ '.png') }}"></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="middle"></div>
        <div class="bottom">
            <ul class="actions">
                {# affichage des actions de j2 #}
                {# si c'est au joueur 2 de jouer #}
                {% if partie.tourJoueurId == 2 and plateau.tourJoue.j2 == 0 and plateau.actions.j1.2.cartes is empty and plateau.actions.j1.3.cartes is empty %}
                <form id="action_form" action="{{ path('action_handler', {'partie': partie.id, 'joueur': 'j2'}) }}" method="post">
                    {% for action in plateau.actions.j2 %}
                        {% if action.jouee %}
                            <li class="action disabled"><img src="{{ asset('assets/images/plateau/action_'~loop.index~'.png') }}"></li>
                        {% else %}
                            <button class="action" name="action" value="{{ action.nom }}">
                                <li class="action disabled"><img src="{{ asset('assets/images/plateau/action_'~loop.index~'.png') }}"></li>
                            </button>
                        {% endif %}
                        {# si ce n'est pas au joueur 2 de jouer #}
                    {% else %}
                        {% if action.jouee %}
                            <li class="action disabled"><img src="{{ asset('assets/images/plateau/action_'~loop.index~'.png') }}"></li>
                        {% else %}
                            <li class="action"><img src="{{ asset('assets/images/plateau/action_'~loop.index~'.png') }}"></li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for action in plateau.actions.j2 %}
                        {% if action.jouee %}
                            <li class="action disabled"><img src="{{ asset('assets/images/plateau/action_'~loop.index~'.png') }}"></li>
                        {% else %}
                            <li class="action"><img src="{{ asset('assets/images/plateau/action_'~loop.index~'.png') }}"></li>
                        {% endif %}
                    {% endfor %}
                    </form>
                {% endif %}
            </ul>
            {# affichage des infos de j2 #}
            <div class="avatar">
                {% if partie.joueur2.imageName is empty %}
                    <img src="{{ gravatar(partie.joueur2.email) }}" id="profil-img" alt="gravatar de {{ partie.joueur2.username }}"/>
                {% else %}
                    <img src="{{ asset('uploads/images/profile/' ~ partie.joueur2.imageName) }}" id="profil-img" alt="image de {{ partie.joueur2.username }}">
                {% endif %}
            </div>
            <div class="name"><div class="inside">{{ partie.joueur2.username }}</div></div>
        </div>
    </aside>

    <div class="right">
        <div class="top">
            <div class="cards">
                {# affichage de la main de j1#}
                {% for carte in plateau.mainJ1 %}
                    {# Afficher dos de carte #}
                    <div class="card"><img src="{{ asset('assets/images/plateau/card_back.jpg') }}"></div>
                {% endfor %}
            </div>
            <div class="round"><div class="inside">round {{ partie.manche }}</div></div>
            <div class="deck"><div class="inside">deck {{ plateau.pioche|length }}</div></div>
        </div>
        <div class="middle">
            {# affichage des cartes objectifs ainsi que les cartes objets jouées #}
            {% for objectif in objectifs %}
                <div class="cardarea">
                    <div class="tokenstop">
                        {% for carte in plateau.terrainJ1[objectif.id] %}
                            <div class="token"><div class="inside"><div class="number">{{ objectif.valeur }}</div></div></div>
                        {% endfor %}
                    </div>
                    <div class="card">
                        <img class="pirate" src="{{ asset('assets/images/plateau/objectif_'~loop.index~'.jpg') }}" />
                        <div class="inside"><img class="cursor" src="{{ asset('assets/images/plateau/card_token.jpg') }}"></div>
                    </div>
                    <div class="tokensbottom">
                        {% for carte in plateau.terrainJ2[objectif.id] %}
                            <div class="token"><div class="inside"><div class="number">{{ objectif.valeur }}</div></div></div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="bottom">
            <div class="playarea">
                {# affichage des cartes des actions de j1 #}
                {% if plateau.actions.j1.2.cartes is not empty and plateau.actions.j1.2.cartes|length == 3 %}
                    {# si j1 a joué "cadeau" #}
                    <div class="acting">
                        <div class="inside">
                            <form id="cadeau_choix" action="{{ path('action_handler', {'partie': partie.id, 'joueur': 'j2'}) }}" method="post">
                                {% for carte in plateau.actions.j1.2.cartes %}
                                    <div class="card"><img src="{{ asset('assets/images/plateau/card_back.jpg') }}"></div>
                                    <input type="hidden" name="action" value="cadeau_choix">
                                    <button class="cadeau_choix_btn" name="carte" value="{{ cartes[carte-1].id }}">Choisir</button>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                {% elseif plateau.actions.j1.3.cartes is not empty %}
                    {# si j1 a joué "concurrence" #}
                    <div class="acting">
                        <div class="inside">
                            {% for carte in plateau.actions.j1.3.cartes %}
                                <div class="card"><img src="{{ asset('assets/images/plateau/card_back.jpg') }}"></div>
                                {% if loop.index0 %2 == 0 %}
                                <form class="concurrence_choix" action="{{ path('action_handler', {'partie': partie.id, 'joueur': 'j2'}) }}" method="post">
                                    <input type="hidden" name="cartes[]" value="{{ cartes[carte-1].id }}">
                                    <input type="hidden" name="action" value="concurrence_choix">
                                {% else %}
                                    <input type="hidden" name="cartes[]" value="{{ cartes[carte-1].id }}">
                                    <button class="concurrence_choix_btn">Choisir</button>
                                    </form>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="acting hidden">
                        <div class="inside"></div>
                    </div>
                {% endif %}
                <div class="dummy"></div>
            </div>
        </div>
    </div>
{% endif %}
    <script>
        $(document).ready(function() {
            $('.action_form_btn').on('click', function () {
                var cartes = [];
                $("input:checked").each(function() {
                    cartes.push($(this).val());
                });
                var action = $(this).val();
                $('#action_form').submit(function(e) {
                    e.preventDefault();
                    $.ajax({
                        url: $(this).attr('action'),
                        type: 'POST',
                        data: {
                            cartes: JSON.stringify(cartes),
                            action: action
                        },
                    });
                });
            });
            $('.cadeau_choix_btn').on('click', function () {
                var carte = $(this).val();
                $('#cadeau_choix').submit(function(e) {
                    e.preventDefault();
                    console.log($(this).serialize());
                    action = $(this).serialize().split('=')[1];
                    action = action.split('&')[0];
                    console.log(action)
                    $.ajax({
                        url: $(this).attr('action'),
                        type: 'POST',
                        data: {
                            action: action,
                            carte: carte
                        },
                        success: function (res) {
                            $("#plateau").load("{{ path('partie_plateau', {id: partie.id}) }}")
                        }
                    });
                });
            });
            $('.concurrence_choix_btn').on('click', function () {
                $(this).closest('form').submit(function(e) {
                    e.preventDefault();
                    //console.log($(this).serialize());
                    req = $(this).serialize().split('] ');
                    //action = action.split('&')[0];
                    console.log(req)
                    $.ajax({
                        url: $(this).attr('action'),
                        type: 'POST',
                        data: $(this).serialize(),
                        success: function (res) {
                            $("#plateau").load("{{ path('partie_plateau', {id: partie.id}) }}")
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}