{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/plateau.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/chat.css') }}">
{% endblock %}
{% block body %}
    <div id="game">
        <div id="plateau"></div>
        <div id="deck"></div>
        <section class="chat">
            <div class="glitch border-top"></div>
            <div class="glitch border-right"></div>
            <div class="glitch border-left"></div>
            <div class="chat-body" id="chat">

            </div>
            <div class="chat-foot">
                <form id="postermessage" action="{{ path('partie_posterMessage', {'partie':partie}) }}" method="post">
                    <textarea id="message" name="message" placeholder="envoyer un message..."></textarea>
                    <button type="submit"></button>
                </form>
            </div>
        </section>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("#chat").load("{{ path('partie_afficherMessages', {partie: partie.id}) }}", function(){
                $('.chat-messages').scrollTop($('.chat-messages')[0].scrollHeight);
            })
            setInterval(function () {
                $("#chat").load("{{ path('partie_afficherMessages', {partie: partie.id}) }}", function(){
                    if(!$("#chat").is(":hover")) {
                        $('.chat-messages').scrollTop($('.chat-messages')[0].scrollHeight);
                    }
                })
            }, 3000)
            $('.chat-messages').scroll( function() {
                sessionStorage.scrollTop = $('.chat-messages').scrollTop;
            });
            $('#postermessage').on('submit', function (e) {
                e.preventDefault()
                if($("#message").val() == '') {
                    return false
                }
                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: $(this).serialize(),
                })
                $("#message").val('')
            })
        })
    </script>
    <script>
        $("#plateau").load("{{ path('partie_plateau', {id: partie.id}) }}")
        $(document).ready(function(){
            setInterval(function() {
                $("#plateau").load("{{ path('partie_plateau', {id: partie.id}) }}")
            }, 3000)
        })
    </script>
    {% if (joueur == 1) %}
        <script>
            $(document).ready(function() {
                $("#deck").load("{{ path('partie_deck', {id: partie.id}) }}")
                var i = 0
                var cetakiInt = setInterval(function() {
                    $.ajax({
                        type: "GET",
                        url: "{{ path('partie_cetaki', {partie: partie.id}) }}",
                        success: function (res) {
                            console.log(res)
                            if(res == '2') {
                                i = 0
                                $("#deck").load("{{ path('partie_deck', {id: partie.id}) }}")
                            }else{
                                if(i == 0){
                                    $("#deck").load("{{ path('partie_deck', {id: partie.id}) }}")
                                    i++
                                }
                            }
                        }
                    })
                }, 3000)
                $("#deck").load("{{ path('partie_deck', {id: partie.id}) }}")
            })
        </script>
    {% elseif (joueur == 2) %}
        <script>
            $(document).ready(function() {
                $("#deck").load("{{ path('partie_deck', {id: partie.id}) }}")
                var i = 0
                var cetakiInt = setInterval(function() {
                    $.ajax({
                        type: "GET",
                        url: "{{ path('partie_cetaki', {partie: partie.id}) }}",
                        success: function (res) {
                            console.log(res)
                            if (res == '1') {
                                i = 0
                                $("#deck").load("{{ path('partie_deck', {id: partie.id}) }}")
                            }else{
                                if(i == 0){
                                    $("#deck").load("{{ path('partie_deck', {id: partie.id}) }}")
                                    i++
                                }
                            }
                        }
                    })
                }, 3000)
                $("#deck").load("{{ path('partie_deck', {id: partie.id}) }}")
            })
        </script>
    {% endif %}
    <script defer type="text/javascript">
        $('.mycheck').prop('checked', false);
        $(".card-deck").mouseleave(function () {
            $(".objet", this).addClass("transZ");
        });
        $(".card-deck").mouseenter(function () {
            $(".objet", this).removeClass("transZ");
        });
        function cardToDeck(clic_id) {
            console.log('card in deck '+clic_id);
            $('#'+clic_id+':parent').parent().parent().addClass('empty').removeClass('full');
            $("#"+clic_id).appendTo('.deck').hide().delay(100).show(200);
            $("#"+clic_id).attr('onclick', 'cardToChange(this.id)');
        }
        function cardToChange(clic_id) {
            console.log('card in change ' +clic_id);
            $("#"+clic_id).appendTo('.echange form .empty .destination:first').hide().delay(100).show(200);
            $('.echange form .empty:first > .mycheck').prop('checked', true);
            $('.echange form .empty:first').addClass('full').removeClass('empty');
            $("#"+clic_id).attr('onclick', 'cardToDeck(this.id)');
        }
        function isFilled() {
            var items = $('.form-joueur-actif > .card-hole > .destination');
            var counter = 0;
            items.each(function(i, item) {
                if (item.firstChild) {
                    counter++;
                }
            });
            if(counter > 0){
                $("#deck").load("{{ path('partie_deck', {id: partie.id}) }}")
            }
        }
    </script>
{% endblock %}
