{% extends 'base.html.twig' %}

{% block body %}
    <h1>Partie</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partie.id }}</td>
            </tr>
            <tr>
                <th>Joueur1</th>
                <td>{{ partie.joueur1 }}</td>
            </tr>
            <tr>
                <th>Joueur2</th>
                <td>{{ partie.joueur2 }}</td>
            </tr>
            <tr>
                <th>Mainj1</th>
                <td>{{ partie.mainJ1 }}</td>
            </tr>
            <tr>
                <th>Mainj2</th>
                <td>{{ partie.mainJ2 }}</td>
            </tr>
            <tr>
                <th>Pioche</th>
                <td>{{ partie.pioche }}</td>
            </tr>
            <tr>
                <th>Cartesjouees</th>
                <td>{{ partie.cartesJouees }}</td>
            </tr>
            <tr>
                <th>Objectifs</th>
                <td>{{ partie.objectifs }}</td>
            </tr>
            <tr>
                <th>Pointsj1</th>
                <td>{{ partie.pointsJ1 }}</td>
            </tr>
            <tr>
                <th>Pointsj2</th>
                <td>{{ partie.pointsJ2 }}</td>
            </tr>
            <tr>
                <th>Actionsj1</th>
                <td>{{ partie.actionsJ1 }}</td>
            </tr>
            <tr>
                <th>Actionsj2</th>
                <td>{{ partie.actionsJ2 }}</td>
            </tr>
            <tr>
                <th>Tourjoueurid</th>
                <td>{{ partie.tourJoueurId }}</td>
            </tr>
            <tr>
                <th>Ended</th>
                <td>{% if partie.ended %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if partie.createdAt %}{{ partie.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('partie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('partie_edit', { 'id': partie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
