{% extends 'base.html.twig' %}

{% block body %}
    <style>
        #plateau li {
            display: inline-block;
            list-style-type: none;
        }
        a {
            color: inherit;
            text-decoration: none;
        }
    </style>
    <div id="plateau"></div>
    <ul>
        <li>
            <a href="{{ path('partie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('partie_edit', { 'id': partie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    {% if (joueur == 1) %}
        <script>
            $(document).ready(function() {
                $("#plateau").load("{{ path('partie_plateau', {id: partie.id}) }}");
                var cetakiInt = setInterval(function() {
                    $.ajax({
                        type: "GET",
                        url: "{{ path('partie_cetaki', {partie: partie.id}) }}",
                        success: function (res) {
                            console.log(res)
                            if(res == '2'){
                                $("#plateau").load("{{ path('partie_plateau', {id: partie.id}) }}")
                            }else if(res == '1'){
                                $("#plateau").load("{{ path('partie_plateau', {id: partie.id}) }}")
                                clearInterval(cetakiInt)
                            }
                        }
                    })
                }, 3000);
            })
        </script>
    {% elseif (joueur == 2) %}
        <script>
            $(document).ready(function() {
                $("#plateau").load("{{ path('partie_plateau', {id: partie.id}) }}");
                    var cetakiInt = setInterval(function () {
                        $.ajax({
                            type: "GET",
                            url: "{{ path('partie_cetaki', {partie: partie.id}) }}",
                            success: function (res) {
                                console.log(res)
                                if (res == '1') {
                                    $("#plateau").load("{{ path('partie_plateau', {id: partie.id}) }}")
                                } else if (res == '2') {
                                    $("#plateau").load("{{ path('partie_plateau', {id: partie.id}) }}")
                                    clearInterval(cetakiInt)
                                }
                            }
                        })
                    }, 3000)
            })
        </script>
    {% endif %}

    {{ dump(partie) }}
    {{ dump(plateau) }}
    {{ dump(cartes) }}
    {{ dump(objectifs) }}
    {{ dump(joueur) }}

{% endblock %}
