{% extends 'base.html.twig' %}

{% block body %}
    <style>
        #plateau li {
            display: inline-block;
            list-style-type: none;
        }
        a {
            color: inherit;
            text-decoration: none;
        }
    </style>
    <div id="plateau"></div>
    <div id="chat"></div>
    <form id="postermessage" method="post" action="{{ path('partie_posterMessage', {partie: partie.id}) }}">
        <input type="text" id="message" name="message" placeholder="Votre message...">
        <button type="submit">Envoyer</button>
    </form>
    <br/><br/>
    <ul>
        <li>
            <a href="{{ path('partie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('partie_edit', { 'id': partie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    <script>
        $(document).ready(function () {
            $("#chat").load("{{ path('partie_afficherMessages', {partie: partie.id}) }}");
            setInterval(function () {
                $("#chat").load("{{ path('partie_afficherMessages', {partie: partie.id}) }}");
                var elem = document.getElementById('chat');
                elem.scrollTop = elem.scrollHeight;
            }, 1500);
            $('#postermessage').on('submit', function (e) {
                e.preventDefault();
                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: $(this).serialize(),
                });
                $("#message").val('');
            });
        });
    </script>
    {% if (joueur == 1) %}
        <script>
            $(document).ready(function() {
                $("#plateau").load("{{ path('partie_plateau', {id: partie.id}) }}");
                var cetakiInt = setInterval(function() {
                    $.ajax({
                        type: "GET",
                        url: "{{ path('partie_cetaki', {partie: partie.id}) }}",
                        success: function (res) {
                            console.log(res)
                            if(res == '2'){
                                $("#plateau").load("{{ path('partie_plateau', {id: partie.id}) }}")
                            }else if(res == '1'){
                                $("#plateau").load("{{ path('partie_plateau', {id: partie.id}) }}")
                                clearInterval(cetakiInt)
                            }
                        }
                    })
                }, 3000);
            })
        </script>
    {% elseif (joueur == 2) %}
        <script>
            $(document).ready(function() {
                $("#plateau").load("{{ path('partie_plateau', {id: partie.id}) }}");
                    var cetakiInt = setInterval(function () {
                        $.ajax({
                            type: "GET",
                            url: "{{ path('partie_cetaki', {partie: partie.id}) }}",
                            success: function (res) {
                                console.log(res)
                                if (res == '1') {
                                    $("#plateau").load("{{ path('partie_plateau', {id: partie.id}) }}")
                                } else if (res == '2') {
                                    $("#plateau").load("{{ path('partie_plateau', {id: partie.id}) }}")
                                    clearInterval(cetakiInt)
                                }
                            }
                        })
                    }, 3000)
            })
        </script>
    {% endif %}

    {{ dump(partie) }}
    {{ dump(plateau) }}
    {{ dump(cartes) }}
    {{ dump(objectifs) }}
    {{ dump(joueur) }}

{% endblock %}
