{% extends 'base.html.twig' %}

{% block body %}
    <style>
        #plateau li {
            display: inline-block;
            list-style-type: none;
        }
    </style>
    <h1>Partie</h1>

    {{ dump(plateau) }}
    {{ dump(cartes) }}
    {{ dump(objectifs) }}
<div align="center" id="plateau">
    <ul>
        <b>Main J2</b>
        {% for carte in plateau.mainJ2 %}
            <li>{{ cartes[carte-1].id }}</li>
        {% endfor %}
    </ul>
    <ul>
        <b>Actions J2</b>
        {% for action in plateau.actions.j2 %}
            {% if action.jouee %}
                <li style="color:darkred;">{{ action.nom }}</li>
            {% else %}
                <li style="color:dodgerblue;">{{ action.nom }}</li>
            {% endif %}
        {% endfor %}
    </ul>
        <br/>
    <ul>
        <b>Pioche</b>
        {% for carte in plateau.pioche %}
            <li>{{ cartes[carte-1].id }}</li>
        {% endfor %}
        <br/>
        <b>Haut de pioche</b>
        {{ cartes[plateau.pioche|first].id-1 }}
    </ul>
        <br/>
    <ul>
        <b>Actions J1</b>
        {% for action in plateau.actions.j1 %}
            {% if action.jouee %}
                <li style="color:darkred;">{{ action.nom }}</li>
            {% else %}
                <li style="color:dodgerblue;">{{ action.nom }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <ul>
        <b>Main J1</b>
        {% for carte in plateau.mainJ1 %}
            <li>{{ cartes[carte-1].id }}</li>
        {% endfor %}
    </ul>
</div>

    <ul>
        <li>
            <a href="{{ path('partie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('partie_edit', { 'id': partie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
