<i id="close-pass-form" class="fas fa-times" ></i>
<form method="post" action="{{ path('fos_user_change_password') }}" class="clear edit-form">
    <div class="sub-container">
        <div class="mail-form">
            <span class="password">
                {{ form_widget(form.current_password, {'attr': { 'class':'clear','placeholder':'mot de passe actuel','required':'required','autocomplete':'off' } }) }}
                {{ form_errors(form.current_password) }}
            </span>
            <br/><br/>
            <span class="password"><i>Nouveau mot de passe</i></span>
            <br/>
            <span class="password">
                {{ form_widget(form.plainPassword.first, {'attr': { 'class':'clear','placeholder':'nouveau mot de passe','required':'required','autocomplete':'off','v-model':'mdp1' } }) }}
                <i v-if="mdpsame" id="check1" class="fas fa-check"></i>
            </span>
            <br/>
            <span class="password">
                {{ form_widget(form.plainPassword.second, {'attr': { 'class':'clear','placeholder':'confirmer nouveau mot de passe','required':'required','autocomplete':'off','v-model':'mdp2' } }) }}
                <i v-if="mdpsame" id="check2" class="fas fa-check"></i>
            </span>
            {{ form_rest(form) }}
        </div>
        <div class="foot">
            <button type="submit">Enregistrer nouveau mot de passe</button>
        </div>
    </div>
{{ form_end(form) }}