{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/screen.css') }}" type="text/css">
{% endblock %}
{% block body %}
    <div class="logo"></div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="admin"><a href="{{ path('admin') }}" style="margin-left: 85px">Administration</a></div>
    {% endif %}
    <div id="dropform" class="edit">
        <div class="glitch border-top"></div>
        <div class="glitch border-right"></div>
        <div class="glitch border-bottom"></div>
        <div class="glitch border-left"></div>

        <div class="container">
            <div class="back-head"></div>
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request clear edit-form">
                <div class="sub-container">
                    <h1>Réinitiliser mot de passe</h1>
                    <br/>
                    <h4>Entrez votre email</h4>
                    <span class="email">
                        <input type="text" id="email" class="clear" placeholder="email" name="username" required="required" />
                    </span>
                    <div class="foot">
                        <button type="submit">Envoyer l'email</button>
                        <a href="{{ path('fos_user_profile_show') }}">
                            Annuler&nbsp;&nbsp;<i class="fas fa-undo" style="position: relative;top:1px;"></i>
                        </a>
                    </div>
                </div>
            </form>
            <div class="back-foot"></div>
        </div>
    </div>

    {% include 'default/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            const neon = document.querySelector('.glitch');
            const neon5 = document.querySelector('#dropform');
            const neon6 = document.querySelector('#dropform2');

            function setProperty(duration) {
                neon.style.setProperty('--animation-time', duration + 's');
                neon5.style.setProperty('--animation-time', duration + 's');
                neon6.style.setProperty('--animation-time', duration + 's');
            }

            function changeAnimationTime() {
                const animationDuration = Math.random();
                setProperty(animationDuration);
            }

            var intervalFlicker = setInterval(changeAnimationTime, 500)

            // CHECKED
            if ($('#check_animation').prop('checked')) {
                console.log('checked');
                var intervalFlicker = setInterval(changeAnimationTime, 500);
                $("[class*='border-']").addClass('glitch');
                $(".dropform").attr("id", "dropform");
                $("body").css('background-image', 'url("{{ asset('assets/images/back.gif') }}")');
            } else {
                console.log('unckecked');
                clearInterval(intervalFlicker);
                $("[class*='border-']").removeClass('glitch');
                $(".dropform").removeAttr("id");
                $("body").css('background-image', 'url("{{ asset('assets/images/background.jpg') }}")');
            }

            $('#check_animation').on('click', function () {
                if ($(this).prop('checked')) {
                    console.log('checked');
                    var intervalFlicker = setInterval(changeAnimationTime, 500);
                    $("[class*='border-']").addClass('glitch');
                    $(".dropform").attr("id", "dropform");
                    $("body").css('background-image', 'url("{{ asset('assets/images/back.gif') }}")');
                    $.ajax({
                        url: '{{ path('cookie_animation', { 'checked':1 }) }}',
                        success: function() {
                            console.log('cookie !')
                        }
                    })
                } else {
                    console.log('unckecked');
                    clearInterval(intervalFlicker);
                    $("[class*='border-']").removeClass('glitch');
                    $(".dropform").removeAttr("id");
                    $("body").css('background-image', 'url("{{ asset('assets/images/background.jpg') }}")');
                    $.ajax({
                        url: '{{ path('cookie_animation', { 'checked':0 }) }}',
                        success: function() {
                            console.log('cookie !')
                        }
                    })
                }
        })
    </script>
    <script type="text/javascript">
        $("#open-pass-form").click(function() {
            $(".drop-password").addClass("drop-password-dropped");
        });
        $("#close-pass-form").click(function() {
            $(".drop-password").removeClass("drop-password-dropped");
        });
    </script>
{% endblock %}