{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cartes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Valeur</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carte in cartes %}
            <tr>
                <td><a href="{{ path('carte_show', { 'id': carte.id }) }}">{{ carte.id }}</a></td>
                <td>{{ carte.type }}</td>
                <td>{{ carte.valeur }}</td>
                <td>{{ carte.image }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('carte_show', { 'id': carte.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('carte_edit', { 'id': carte.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('carte_new') }}">Create a new carte</a>
        </li>
    </ul>
{% endblock %}
